	<footer>
		<nav>
			<ul id='bottom-nav' class='nav'>
              <li class='pull-left'><a href='/pages/contact' class='shipping-link'><span class='hidden-xs'>Free Worldwide Shipping</span><span class='visible-xs'>Free Worldwide Shipping</span></a></li>
              <li class='pull-left hidden-xs hidden-sm'><a href='/pages/contact' class='shipping-link'>Contact</a></li>
              <li class='pull-left hidden-xs hidden-sm'><a href='/pages/sizing' class='shipping-link'>Fit Guide</a></li>
              <li class='centered hidden-xs'><a href="javascript:void(0)" class='popup-footer-toggle'>{{ 'footer-more.jpg' | asset_url | img_tag }}</a></li>
				{% for link in linklists.footer.links %}
				  {% capture socialImg %}{{ link.title | downcase | handleize }}.jpg{% endcapture %}
                  {% if link.url == 'http://instagram.com/westwardleaning' %}
				    <li class='hidden-xs'><a target="_blank" href='{{ link.url }}'><img src='{{ socialImg | asset_url }}' alt='{{ link.title }}' /></a></li>
                  {% else %}
				    <li class='hidden-xs'><a target="_blank" href='{{ link.url }}'><img src='{{ socialImg | asset_url }}' alt='{{ link.title }}' /></a></li>
                  {% endif %}
				{% endfor %}
        	</ul>
 		</nav>
	</footer>
    <footer class='popup-footer' style="display: none;">
		<nav>
			<ul id='bottom-nav' class='nav'>
              <li class='pull-left'><a href='/pages/contact' class='shipping-link'><span class='shipping-message hidden-xs'>Free Worldwide Shipping</span><span class='shipping-message visible-xs'>Free Worldwide Shipping</span></a></li>
              <li class='pull-left hidden-xs hidden-sm'><a href='/pages/contact' class='shipping-link'>Contact</a></li>
              <li class='pull-left hidden-xs hidden-sm'><a href='/pages/sizing' class='shipping-link'>Fit Guide</a></li>
              <li class='centered'><a href="javascript:void(0)" class='popup-footer-toggle'>{{ 'footer-close.jpg' | asset_url | img_tag }}</a></li>
				{% for link in linklists.footer.links %}
				  {% capture socialImg %}{{ link.title | downcase | handleize }}.jpg{% endcapture %}
                  {% if link.url == 'http://instagram.com/westwardleaning' %}
				    <li><a href='{{ link.url }}'><img src='{{ socialImg | asset_url }}' alt='{{ link.title }}' /></a></li>
                  {% else %}
				    <li class='hidden-xs'><a href='{{ link.url }}'><img src='{{ socialImg | asset_url }}' alt='{{ link.title }}' /></a></li>
                  {% endif %}
				{% endfor %}
        	</ul>
 		</nav>
        <div class='popup-options'>
          <ul>
            <li><a href='/collections/new-releases'>Shop</a></li>
            <li><a href='/pages/lookbook'>Street Style</a></li>
            <li><a href='/blogs/celeb-style/34464772-taylor-swift'>Famous Fans</a></li>
            <li><a href='/pages/stores'>Stockists</a></li>
          </ul>
          <ul>
            <li class='visible-sm visible-xs'><a href='/pages/contact'>Contact</a></li>
            <li><a href='/pages/about-us'>About Us</a></li>
            <li><a href='/pages/campaigns'>Campaigns</a></li>
            <li><a href='/pages/commitment'>Commitment</a></li>
            <li><a href='/pages/fit'>Fit</a></li>
            <li><a href='/pages/privacy-policy'>Privacy Policy</a></li>
            <li><a href='/pages/terms-of-use'>Terms of Use</a></li>
          </ul>
          <ul class='hidden-sm hidden-xs'>
            <li><a target="_blank" href='https://www.facebook.com/westwardleaning'>Facebook</a></li>
            <li><a target="_blank" href='https://twitter.com/#!/westwardleaning'>Twitter</a></li>
            <li><a target="_blank" href='http://pinterest.com/westwardleaning/'>Pinterest</a></li>
            <li><a target="_blank" href='http://instagram.com/westwardleaning'>Instagram</a></li>
          </ul>
          <!-- Begin MailChimp Signup Form -->
          <div id="mc_embed_signup" class='pull-right mc-footer'>
          <form action="//westwardleaning.us4.list-manage.com/subscribe/post?u=5a6457318504733f71a995ad7&amp;id=3607cdd895" method="post" id="mc-embedded-subscribe-form" name="mc-embedded-subscribe-form" class="validate" target="_blank" novalidate>
              <div id="mc_embed_signup_scroll">
          <div class="mc-field-group">
              <label for="mce-EMAIL">Subscribe to our Newsletter</label>
              <input type="email" value="" name="EMAIL" class="required email" id="mce-EMAIL">
          </div>    <!-- real people should not fill this in and expect good things - do not remove this or risk form bot signups-->
              <div style="position: absolute; left: -5000px;"><input type="text" name="b_5a6457318504733f71a995ad7_3607cdd895" tabindex="-1" value=""></div>
              <input type="submit" value="Join" name="subscribe" id="mc-embedded-subscribe" class="button">
              <div id="mce-responses" class="clear">
                  <div class="response" id="mce-error-response" style="display:none"></div>
                  <div class="response" id="mce-success-response" style="display:none"></div>
              </div>
            </div>
          </form>
          </div>
          <script type='text/javascript' src='//s3.amazonaws.com/downloads.mailchimp.com/js/mc-validate.js'></script>
          <script type='text/javascript'>
            (function($) {            
              if (document.cookie.indexOf('WestwardLeaningNewsletter=subscribed') >= 0) {
                //$('#mc_embed_signup').addClass('hidden');
                //hide the popup
              }
              window.fnames = new Array(); 
              window.ftypes = new Array();
              fnames[0]='EMAIL';
              ftypes[0]='email';
              fnames[1]='FNAME';
              ftypes[1]='text';
              fnames[2]='LNAME';
              ftypes[2]='text';
              fnames[3]='COMPANY';
              ftypes[3]='text';
              fnames[4]='PHONE';
              ftypes[4]='phone';
              fnames[5]='ADDRESS';
              ftypes[5]='address';
              fnames[6]='LAST_ORDER';
              ftypes[6]='date';
              fnames[7]='SOURCE';
              ftypes[7]='text';
              fnames[8]='TAGS';
              ftypes[8]='text';
              fnames[9]='MMERGE9';
              ftypes[9]='address';
              fnames[10]='100DAY';
              ftypes[10]='text';    
              window.mc.ajaxOptions.complete = function() {
                // Only hide the input boxes if there are no errors
                if($('#mce-error-response').is(':hidden')) {
                  $('#mc_embed_signup input').hide();
                  $('#mc_embed_signup label').hide();
                  document.cookie = "WestwardLeaningNewsletter=subscribed; expires=Fri, 31 Dec 9999 23:59:59 GMT;";
                }
              };
            }(jQuery));
            var $mcj = jQuery.noConflict(true);
          </script>
          <!--End mc_embed_signup-->

        </div>
    </footer>