{% include 'mailchimp-form' %}
	<footer>
		<nav>
			<ul id='bottom-nav' class='nav'>
              <li class='pull-left'><a href='/pages/contact' class='shipping-link'><span class='hidden-xs'>Free Worldwide Shipping</span><span class='visible-xs'>Free Worldwide Shipping</span></a></li>
              <li class='pull-left hidden-xs hidden-sm'><a href='/pages/contact' class='shipping-link'>Contact</a></li>
              <li class='pull-left hidden-xs hidden-sm'><a href='/pages/sizing' class='shipping-link'>Fit Guide</a></li>
              <li class='centered hidden-xs'><a href="javascript:void(0)" class='popup-footer-toggle'>{{ 'footer-more.jpg' | asset_url | img_tag }}</a></li>
				{% for link in linklists.footer.links %}
				  {% capture socialImg %}{{ link.title | downcase | handleize }}.jpg{% endcapture %}
                  {% if link.url == 'http://instagram.com/westwardleaning' %}
				    <li class='hidden-xs'><a target="_blank" href='{{ link.url }}'><img src='{{ socialImg | asset_url }}' alt='{{ link.title }}' /></a></li>
                  {% else %}
				    <li class='hidden-xs'><a target="_blank" href='{{ link.url }}'><img src='{{ socialImg | asset_url }}' alt='{{ link.title }}' /></a></li>
                  {% endif %}
				{% endfor %}
        	</ul>
 		</nav>
	</footer>

    <footer class='popup-footer' style="display: none;">
		<nav>
			<ul id='bottom-nav' class='nav'>
              <li class='pull-left'><a href='/pages/contact' class='shipping-link'><span class='shipping-message hidden-xs'>Free Worldwide Shipping</span><span class='shipping-message visible-xs'>Free Worldwide Shipping</span></a></li>
              <li class='pull-left hidden-xs hidden-sm'><a href='/pages/contact' class='shipping-link'>Contact</a></li>
              <li class='pull-left hidden-xs hidden-sm'><a href='/pages/sizing' class='shipping-link'>Fit Guide</a></li>
              <li class='centered'><a href="javascript:void(0)" class='popup-footer-toggle'>{{ 'footer-close.jpg' | asset_url | img_tag }}</a></li>
				{% for link in linklists.footer.links %}
				  {% capture socialImg %}{{ link.title | downcase | handleize }}.jpg{% endcapture %}
                  {% if link.url == 'http://instagram.com/westwardleaning' %}
				    <li><a href='{{ link.url }}'><img src='{{ socialImg | asset_url }}' alt='{{ link.title }}' /></a></li>
                  {% else %}
				    <li class='hidden-xs'><a href='{{ link.url }}'><img src='{{ socialImg | asset_url }}' alt='{{ link.title }}' /></a></li>
                  {% endif %}
				{% endfor %}
        	</ul>
 		</nav>
        <div class='popup-options'>
          <ul>
            <li><a href='/collections/new-releases'>Shop</a></li>
            <li><a href='/pages/lookbook'>Street Style</a></li>
            <li><a href='/blogs/celeb-style/34464772-taylor-swift'>Famous Fans</a></li>
            <li><a href='/pages/stores'>Stockists</a></li>
          </ul>
          <ul>
            <li class='visible-sm visible-xs'><a href='/pages/contact'>Contact</a></li>
            <li><a href='/pages/about-us'>About Us</a></li>
            <li><a href='/pages/campaigns'>Campaigns</a></li>
            <li><a href='/pages/commitment'>Commitment</a></li>
            <li><a href='/pages/fit'>Fit</a></li>
            <li><a href='/pages/privacy-policy'>Privacy Policy</a></li>
            <li><a href='/pages/terms-of-use'>Terms of Use</a></li>
          </ul>
          <ul>
            <li><a target="_blank" href='https://www.facebook.com/westwardleaning'>Facebook</a></li>
            <li><a target="_blank" href='https://twitter.com/#!/westwardleaning'>Twitter</a></li>
            <li><a target="_blank" href='http://pinterest.com/westwardleaning/'>Pinterest</a></li>
            <li><a target="_blank" href='http://instagram.com/westwardleaning'>Instagram</a></li>
          </ul>
          {% unless template contains 'index' %}
            <p class='pull-right'><a class='newsletter' href='javascript:void(0)'>Subscribe to our Newsletter</a></p>
          {% endunless %}
        </div>
    </footer>