	<footer>
		<nav>
			<ul id='bottom-nav' class='nav'>
              <li class='pull-left'><a href='/pages/help#shipping' class='shipping-link'><span class='hidden-xs'>FREE WORLDWIDE SHIPPING, EASY RETURNS</span><span class='visible-xs'>FREE SHIPPING, EASY RETURNS</span></a></li>
              <li class='pull-left hidden-xs hidden-sm'><a href='/pages/help/' class='shipping-link'>CUSTOMER SERVICE</a></li>
              <li class='pull-left hidden-xs hidden-sm hidden-md'><a href='/pages/faq/' class='shipping-link'>FAQ</a></li>
              <li class='centered hidden-xs'><a href="javascript:void(0)" class='popup-footer-toggle'>{{ 'footer-more.jpg' | asset_url | img_tag }}</a></li>
				{% for link in linklists.footer.links %}
				  {% capture socialImg %}{{ link.title | downcase | handleize }}.jpg{% endcapture %}
                  {% if link.url == 'http://instagram.com/westwardleaning' %}
				    <li class='hidden-xs'><a target="_blank" href='{{ link.url }}'><img src='{{ socialImg | asset_url }}' alt='{{ link.title }}' /></a></li>
                  {% else %}
				    <li class='hidden-xs'><a target="_blank" href='{{ link.url }}'><img src='{{ socialImg | asset_url }}' alt='{{ link.title }}' /></a></li>
                  {% endif %}
				{% endfor %}
        	</ul>
 		</nav>
	</footer>
    <footer class='popup-footer' style="display: none;">
		<nav>
			<ul id='bottom-nav' class='nav'>
              <li class='pull-left'><a href='/pages/help#shipping' class='shipping-link'><span class='shipping-message hidden-xs'>FREE WORLDWIDE SHIPPING, EASY RETURNS</span><span class='shipping-message visible-xs'>FREE SHIPPING, EASY RETURNS</span></a></li>
              <li class='pull-left hidden-xs hidden-sm'><a href='/pages/help/' class='shipping-link'>CUSTOMER SERVICE</a></li>
              <li class='pull-left hidden-xs hidden-sm hidden-md'><a href='/pages/faq/' class='shipping-link'>FAQ</a></li>
              <li class='centered'><a href="javascript:void(0)" class='popup-footer-toggle'>{{ 'footer-close.jpg' | asset_url | img_tag }}</a></li>
				{% for link in linklists.footer.links %}
				  {% capture socialImg %}{{ link.title | downcase | handleize }}.jpg{% endcapture %}
                  {% if link.url == 'http://instagram.com/westwardleaning' %}
				    <li><a href='{{ link.url }}'><img src='{{ socialImg | asset_url }}' alt='{{ link.title }}' /></a></li>
                  {% else %}
				    <li class='hidden-xs'><a href='{{ link.url }}'><img src='{{ socialImg | asset_url }}' alt='{{ link.title }}' /></a></li>
                  {% endif %}
				{% endfor %}
        	</ul>
 		</nav>
        <div class='popup-options'>
          <ul>
            <li><a href='/collections/new-releases'>SHOP</a></li>
            <li><a href='/pages/lookbook'>STREET STYLE</a></li>
            <li><a href='/blogs/celeb-style/34464772-taylor-swift'>FAMOUS FANS</a></li>
            <li><a href='/pages/stores'>STOCKISTS</a></li>
          </ul>
          <ul>
            <li class='visible-sm visible-xs'><a href='/pages/help'>CUSTOMER SUPPORT</a></li>
            <li class='visible-md visible-sm visible-xs'><a href='/pages/faq'>FAQ</a></li>
            <li><a href='/pages/about-new'>ABOUT US</a></li>
            <li><a href='/pages/design'>DESIGN</a></li>
            <li><a href='/pages/careers'>CAREERS</a></li>
            <li><a href='/pages/privacy-policy'>PRIVACY POLICY</a></li>
            <li><a href='/pages/terms-of-use'>TERMS OF USE</a></li>
          </ul>
          <ul>
            <li><a target="_blank" href='https://www.facebook.com/westwardleaning'>FACEBOOK</a></li>
            <li><a target="_blank" href='https://twitter.com/#!/westwardleaning'>TWITTER</a></li>
            <li><a target="_blank" href='http://pinterest.com/westwardleaning/'>PINTEREST</a></li>
            <li><a target="_blank" href='http://instagram.com/westwardleaning'>INSTAGRAM</a></li>
          </ul>
        </div>
    </footer>