	<nav id='grid-nav-left' class='col-md-4 col-lg-3 col-xl-2 hidden-xs hidden-sm'>
		<ul>
          
          {% for link in linklists.collection-grids-special-fall-2015.links %}
            <a href="{{link.url}}"><li id='{{link.handle}}' class='{% if link.handle == 'sale' %}sale{% endif %} special-collection-link'><span>{{link.title}}</span></li></a>
          {% endfor %}
          
          <p class='grid-nav-left-divider'>See styles by shape:</p>
          
          {% for link in linklists.collection-grids-frame-type-fall-2015.links %}
            {% capture silhouette_img %}{{link.handle}}_silhouette.png{% endcapture %}
            <a href="{{link.url}}"><li id='{{link.handle}}' class='frame-select'><span>{{link.title}}<img src='{{ silhouette_img | asset_url }}' alt='{{link.title Silhouette}}' class='silhouette'></span></li></a>
          {% endfor %}
        
        </ul>
	</nav>