  <nav id='collections-listing-navigation-mobile' class='hidden-md hidden-lg hidden-xl'>
    <ul>
      <a href="javascript:void(0)" data-toggle='dropdown' class='dropdown-toggle'>
        <li>
        {{ 'morearrow.png' | asset_url | img_tag: 'More Options', 'more-arrow'}}
        <ul id='mobile-grid-dropdown' class='dropdown-menu'>
        {% for link in linklists.collection-grids-mobile-fall-2015.links %}
            {% assign frame_shape = false %}
            {% if link.handle == 'atlas' or link.handle == 'concorde' or link.handle == 'flower' or link.handle == 'galileo' or link.handle == 'pioneer' or link.handle == 'vanguard' or link.handle == 'voyager' %}
              {% assign frame_shape = true %}
              {% capture silhouette_img %}{{link.handle}}_silhouette.png{% endcapture %}
            {% endif %}
          
            {% if frame_shape %}
              <a href="{{link.url}}"><li id='{{link.handle}}' class='frame-select'><span class='frame-shape'>{{link.title | upcase}}</span><span class='silhouette'><img src='{{ silhouette_img | asset_url }}' alt='{{link.title Silhouette}}' class='silhouette'></span></li></a>          
            {% else %}
              <a href="{{link.url}}"><li id='{{link.handle}}' {% if link.handle == 'sale' %}class='sale'{% endif %} ><span>{{link.title | upcase}}</span></li></a>
            {% endif %}
        {% endfor %}
        </ul>
      </li>
      </a>
    </ul>
  </nav>