  <nav id='collections-listing-navigation' class='hidden-xs'>
    <ul>
      {% for link in linklists.collection-grids.links %}
      {% if link.url == '/collections/classic-westward' %}
        <a href="{{link.url}}"><li><span>{{ 'wayfarer_silhouette.png' | asset_url | img_tag}}<br>{{link.title}}</span></li></a>
      {% elsif link.url == '/collections/circle' %}
        <a href="{{link.url}}"><li><span>{{ 'voyager_silhouette.png' | asset_url | img_tag}}<br>{{link.title}}</span></li></a>
      {% else %}
        <a href="{{link.url}}"><li><span>{{link.title}}</span></li></a>
      {% endif %}
      {% endfor %}
    </ul>
  </nav>
  <nav id='collections-listing-navigation-mobile' class='hidden-sm hidden-md hidden-lg hidden-xl'>
    <ul>
      {% for link in linklists.collection-grids.links %}
      {% if link.url == '/collections/new-releases' %}
        <a href="{{link.url}}"><li><span>New</span></li></a>
      {% elsif link.url == '/collections/classic-westward' %}
        <a href="{{link.url}}"><li><span>{{ 'wayfarer_silhouette.png' | asset_url | img_tag}}<br>Wayfarer</span></li></a>
      {% elsif link.url == '/collections/circle' %}
        <a href="{{link.url}}"><li><span>{{ 'voyager_silhouette.png' | asset_url | img_tag}}<br>Circle</span></li></a>
      {% endif %}
      {% endfor %}
      <li>
        <a href="javascript:void(0)" data-toggle='dropdown' class='dropdown-toggle'><span>{{ 'morearrow.png' | asset_url | img_tag: 'More Options', 'more-arrow'}}</span></a>
        <ul id='mobile-grid-dropdown' class='dropdown-menu'>
        {% for dropdownlink in linklists.mobile-grid.links %}
          <a href='{{dropdownlink.url}}'><li>{{dropdownlink.title|upcase}}</li></a>
        {% endfor %}
        </ul>
      </li>
    </ul>
  </nav>