  <nav id='collections-listing-navigation-mobile' class='hidden-sm hidden-md hidden-lg hidden-xl'>
    <ul>
      <a href="javascript:void(0)" data-toggle='dropdown' class='dropdown-toggle'>
        <li>
        {{ 'morearrow.png' | asset_url | img_tag: 'More Options', 'more-arrow'}}
        <ul id='mobile-grid-dropdown' class='dropdown-menu'>
        {% for link in linklists.summer-2015-mobile-collection-grids.links %}
          {% if link.url == '/collections/pioneer' %}
            <a href="{{link.url}}"><li id='{{link.handle}}' class='frame-select first'><span class='frame-shape'>{{link.title | upcase}}</span><span class='silhouette'>{{ 'wayfarer_silhouette.png' | asset_url | img_tag}}</span></li></a>
          {% elsif link.url == '/collections/circle' %}
            <a href="{{link.url}}"><li id='{{link.handle}}' class='frame-select'><span class='frame-shape'>{{link.title | upcase}}</span><span class='silhouette'>{{ 'voyager_silhouette.png' | asset_url | img_tag}}</span></li></a>
          {% elsif link.url == '/collections/project-vanguard' %}
            <a href="{{link.url}}"><li id='{{link.handle}}' class='frame-select'><span class='frame-shape'>{{link.title | upcase}}</span><span class='silhouette'>{{ 'vanguard_silhouette.png' | asset_url | img_tag}}</span></li></a>
          {% elsif link.url == '/collections/concorde' %}
            <a href="{{link.url}}"><li id='{{link.handle}}' class='frame-select'><span class='frame-shape'>{{link.title | upcase}}</span><span class='silhouette'>{{ 'concorde_silhouette.png' | asset_url | img_tag}}</span></li></a>
          {% else %}
            <a href="{{link.url}}"><li id='{{link.handle}}'><span>{{link.title | upcase}}</span></li></a>
          {% endif %}
        {% endfor %}
        </ul>
      </li>
      </a>
    </ul>
  </nav>