{% assign on_sale = false %}
{% if product.compare_at_price > product.price %}
  {% assign on_sale = true %}
{% endif %}
{% for tag in product.tags %}
	{% if tag contains "primary mat = " %}
		{% assign product_material = tag | remove: 'primary mat = ' %}
	{% endif %}
	{% if tag contains "model = " %}
		{% assign model = tag | remove: 'model = ' %}
	{% endif %}
	{% if tag contains "lens = " %}
		{% assign lens = tag | remove: 'lens = ' %}
	{% endif %}
	{% if tag contains "collab = " %}
		{% assign collab = tag | remove: 'collab = ' %}
	{% endif %}
	{% if tag contains "special projects" %}
		{% assign special_project = true %}
	{% endif %}
{% endfor %}

<a href='{{ product.url }}'>
  <li class='product-thumb'>

  	  <img src="{{ product.featured_image.src | product_img_url: 'large' }}" alt="{{ product.featured_image.alt | escape }}"  class='img-response'/>
      <h2>
        {% if product.type == 'Voyager' %}
          {{ product.title | upcase }}
        {% elsif product.type contains 'WL X' %}
          {% if product.type contains 'OLIVIAPALERMO' %}
            {{ product.type | upcase }}
          {% else %}
            {{ product.title | upcase }}
          {% endif %}
        {% elsif product.type contains 'Pioneer X' %}
          {{ product.title | upcase }}
        {% else %}
          {{ product.type | upcase }}
        {% endif %}
      </h2>
      <aside class='model'>
        {% if product.type == 'Voyager' %}
          <!-- No model number. -->
        {% elsif product.type contains 'WL X' %}
          <!-- No model number. -->
        {% elsif product.type contains 'Pioneer X' %}
          <!-- No model number. -->
        {% elsif special_project %}
          <!-- No model number. -->
        {% else %}
          {{ model }}
        {% endif %}
      </aside>
      <aside class='material'>
        {% if product.type == 'Voyager' %}
          {{ product_material }}
        {% elsif product.type contains 'WL X' %}
          {% if product.type contains 'OLIVIAPALERMO' %}
            <!-- No product material. -->
          {% else %}
            {{ product_material }}
          {% endif %}
        {% elsif product.type contains 'Pioneer X' %}
          {{ collab }}
        {% elsif special_project %}
          {{ product_material }}
        {% else %}
          <!-- No product material. -->
        {% endif %}
      </aside>
      <aside>
        {% comment %}{% if product.price_varies %}From {% endif %}{% endcomment %}
        {% if product.title == "Gift Card" %}
          $50 - $200
        {% elsif product.available %}
          {{ product.price | money | remove: '.00' }}
        {% else %}
          {{ product.price | money | remove: '.00' }} - SOLD OUT
        {% endif %}
	    {% comment %}{% if on_sale %}<span class="compare-at-price"><del>{{ product.compare_at_price | money }}</del></span>{% endif %}{% endcomment %}
	  </aside>
  </li>
</a>