{% assign on_sale = false %}
{% if product.compare_at_price > product.price %}
  {% assign on_sale = true %}
{% endif %}
{% for tag in product.tags %}
	{% if tag contains "primary mat = " %}
		{% assign product_material = tag | remove: 'primary mat = ' %}
	{% endif %}
	{% if tag contains "model = " %}
		{% assign model = tag | remove: 'model = ' %}
	{% endif %}
	{% if tag contains "lens = " %}
		{% assign lens = tag | remove: 'lens = ' %}
	{% endif %}
{% endfor %}

<a href='{{ product.url }}'>
  <li class='product-thumb'>

  	  <img src="{{ product.featured_image.src | product_img_url: 'medium' }}" alt="{{ product.featured_image.alt | escape }}"  class='img-response'/>
      <h2>
        {% if model == 'N°3.10' %}
          WL X BARNEYS NEW YORK
        {% elsif model == 'N°3.11' %}
          WL X BARNEYS NEW YORK
        {% elsif model == 'N°3.12' %}
          WL X BARNEYS NEW YORK
        {% elsif model == 'N°9.2' %}
          WL X OPENING CEREMONY
        {% elsif model == 'N°9.6' %}
          WL X OPENING CEREMONY
        {% elsif model == 'N°3.T' %}
          WL X THEORY
        {% elsif model == 'N°3.GIF' %}
          WL X IMGUR
        {% elsif product.type == 'Voyager' %}
          {{ product.title | upcase }}
        {% else %}
          {{ product.type | upcase }}
        {% endif %}
      </h2>
      <aside class='model'>
        {% if product.type == 'Voyager' %}
          {{ lens }} Lens
        {% else %}
          {{ model }}
        {% endif %}
      </aside>
      <aside class='material'>{{ product_material }}</aside>
      <aside>
        {% comment %}{% if product.price_varies %}From {% endif %}{% endcomment %}
        {% if product.title == "Gift Card" %}
          $50 - $200
        {% elsif product.available %}
          {{ product.price | money | remove: '.00' }}
        {% else %}
          {{ product.price | money | remove: '.00' }} - SOLD OUT
        {% endif %}
	    {% comment %}{% if on_sale %}<span class="compare-at-price"><del>{{ product.compare_at_price | money }}</del></span>{% endif %}{% endcomment %}
	  </aside>
  </li>
</a>