{% assign on_sale = false %}
{% if product.compare_at_price > product.price %}
  {% assign on_sale = true %}
{% endif %}
{% assign special_project = false %}
{% assign launch_collection = false %}
{% assign set = false %}
{% assign product_material = false %}
{% assign model = false %}
{% assign lens = false %}
{% assign collab = false %}
{% for tag in product.tags %}
	{% if tag contains "primary mat = " %}{% assign product_material = tag | remove: 'primary mat = ' %}
	{% elsif tag contains "model = " %}{% assign model = tag | remove: 'model = ' %}
	{% elsif tag contains "lens = " %}{% assign lens = tag | remove: 'lens = ' %}
	{% elsif tag contains "collab = " %}{% assign collab = tag | remove: 'collab = ' %}
	{% elsif tag contains "set = " %}{% assign set = tag | remove: 'set = ' %}
	{% elsif tag contains "special projects" %}{% assign special_project = true %}
	{% elsif tag contains "launch collection" %}{% assign launch_collection = true %}
	{% endif %}
{% endfor %}

<div class='product-wrapper col-xl-3 col-lg-4 col-md-4 col-sm-6 col-xs-12 {% for tag in product.tags %}{{ tag | handleize }} {% endfor %}'>

  <li class='product-thumb'>
	<a href='{{ product.url }}' class='product-link'>
  	  <img src="{{ product.featured_image.src | product_img_url: 'large' }}" alt="{{ product.featured_image.alt | escape }}"  class='img-response'/>
      <h2>
        {% if product.type == 'Voyager' %}
          {{ product.title | upcase }}
        {% elsif product.type == 'Project Vanguard' %}
          {{ product.title | upcase }}
        {% elsif product.type == 'Concorde' %}
          {{ product.title | upcase }}
        {% elsif product.type contains 'WL X' %}
          {% if product.type contains 'Olivia' %}
            {{ product.type | upcase }}
          {% else %}
            {{ product.title | upcase }}
          {% endif %}
        {% elsif product.type contains 'Pioneer X' %}
          {{ product.title | upcase }}
        {% elsif product.type contains 'Voyager X' %}
          {{ product.title | upcase }}
        {% else %}
          {{ product.type | upcase }}
        {% endif %}
      </h2>
      <aside class='model'>
        {% if product.type == 'Voyager' %}
          <!-- No model number. -->
        {% elsif product.type == 'Project Vanguard' %}
          <!-- No model number. -->
        {% elsif product.type == 'Concorde' %}
          <!-- No model number. -->
        {% elsif product.type contains 'Olivia' %}
          {{ model }}
        {% elsif product.type contains 'Pioneer X' %}
          <!-- No model number. -->
        {% elsif product.type contains 'Voyager X' %}
          <!-- No model number. -->
        {% elsif set %}
          {{ set }}
        {% elsif special_project %}
          <!-- No model number. -->
        {% else %}
          {{ model }}
        {% endif %}
      </aside>
      <aside class='material'>
        {% if product.type == 'Voyager' %}
          {{ product_material }}
        {% elsif product.type == 'Project Vanguard' %}
          {% if lens %}
            {{ lens }} Lenses
          {% endif %}
        {% elsif product.type == 'Concorde' %}
          {% if lens %}
            {{ lens }} Lenses
          {% endif %}
        {% elsif product.type contains 'Olivia' %}
          <!-- No product material. -->
        {% elsif product.type contains 'Pioneer X' %}
          {{ collab }}
        {% elsif product.type contains 'Voyager X' %}
          {{ collab }}
        {% elsif launch_collection %}
          <!-- No product material. -->
        {% elsif special_project %}
          {{ product_material }}
        {% else %}
          <!-- No product material. -->
        {% endif %}
      </aside>
      <aside>
        {% comment %}{% if product.price_varies %}From {% endif %}{% endcomment %}
        {% if product.title == "Gift Card" %}
          $50 - $200
        {% elsif product.available %}
          {{ product.price | money | remove: '.00' }}
        {% elsif launch_collection %}
          {{ product.price | money | remove: '.00' }}
        {% else %}
          {{ product.price | money | remove: '.00' }} - SOLD OUT
        {% endif %}
	    {% comment %}{% if on_sale %}<span class="compare-at-price"><del>{{ product.compare_at_price | money }}</del></span>{% endif %}{% endcomment %}
	  </aside>
    </a>

    {% if product.available %}
      <a href="https://www.westwardleaning.com/cart/add" onclick="var f = document.createElement('form'); f.style.display = 'none'; this.parentNode.appendChild(f); f.method = 'POST'; f.action = this.href; var v = document.createElement('input'); v.setAttribute('type', 'hidden'); v.setAttribute('name', 'id'); v.setAttribute('value', '{{ product.first_available_variant.id }}'); f.appendChild(v); f.submit(); return false;" class='quick-buy hidden'>BUY</a>
    {% endif %}
  </li>
</div>