<!DOCTYPE html>
<html>
<head>
    <!-- Meta tags. -->
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
	<meta charset="utf-8" />
    <meta name="google-site-verification" content="ll4dl8u1x1LgWIHp7zNiYTDuitX5_AT6v1d-cFwY2cM" />
    <meta name="p:domain_verify" content="2fb8a8d9fdc18ffbd4f552a7ea6bc267"/>
    {% if template contains 'collection' %}<meta name="google" value="notranslate">{% endif %}
    <!-- Icons. -->
    <link rel="icon" href="{{ 'favicon.ico' | asset_url}}" />
    <link rel="shortcut icon" href="{{'favicon.ico' | asset_url™}}" />
    <link rel="favicon" href="{{'favicon.ico' | asset_url}}" />
    {{ content_for_header }}
    <link rel="canonical" href="{{ canonical_url }}" />
    {% include 'open-graph-tags' %}
	<!-- Bootstrap -->
	{{ 'bootstrap.min.css' | asset_url | stylesheet_tag }}
	{{ 'fonts.scss' | asset_url | stylesheet_tag }}
	{{ 'style.scss.css' | asset_url | stylesheet_tag }}
    <link href="//cdn-images.mailchimp.com/embedcode/classic-081711.css" rel="stylesheet" type="text/css">
    {% include 'mailchimp-popup-style' %}
	<!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
	<!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
	<!--[if lt IE 9]>
	<script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
	<script src="https://oss.maxcdn.com/libs/respond.js/1.3.0/respond.min.js"></script>
	<![endif]-->
    <title>
      {{ page_title }}{% if current_tags %} &ndash; tagged "{{ current_tags | join: ', ' }}"{% endif %}{% if current_page != 1 %} &ndash; Page {{ current_page }}{% endif %} &mdash; Westward \\ Leaning
    </title>
    {% if page_description %}
      <meta name="description" content="{{ page_description | escape }}" />
    {% endif %}
    {% include 'pingdom-rum' %}
    <script src="//cdn.optimizely.com/js/413800223.js"></script>
</head>
<body class="{{ collection.title | downcase}}">
  {% include 'top-nav' %}
   
    {% if template contains 'collection' %}
      {% include 'grid-navbar' %}
    {% endif %}
    {% if template contains 'gift-guide' %}
      {% include 'grid-navbar' %}
    {% endif %} 
  
	{{ content_for_layout }}
   
  {% include 'mailchimp-form' %}
  {% include 'footer' %}
        
<!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
{{ '//ajax.googleapis.com/ajax/libs/jquery/1.11.0/jquery.min.js' | script_tag }}
<!-- Include all compiled plugins (below), or include individual files as needed -->
{{ 'bootstrap.min.js' | asset_url | script_tag }}
{{ 'enhance.jquery.js' | asset_url | script_tag }}
{{ 'rwdImageMaps.jquery.js' | asset_url | script_tag }}
{{ 'misc.jquery.js' | asset_url | script_tag }}
{{ 'mailchimp.jquery.js' | asset_url | script_tag }}

<!-- Tracking and retargeting code. -->
{% include 'adroll-tag' %}
<!-- Retargeter tag should go here. -->
{% if template contains 'index' %}
  <!-- No Retargeter pixel. -->
{% elsif template contains 'list-collections' %}
  <!-- No Retargeter pixel. -->
{% else %}
  <img src="http://ad.retargeter.com/seg?add=1029136&t=2" width="1" height="1" />
{% endif %}
{% if template contains 'index' %}{% include 'index-scripts' %}{% endif %}
{% if template contains 'concept' %}{% include 'concept-page-scripts' %}{% endif %}
{% if template contains 'stores' %}{% include 'stores-map-scripts' %}{% endif %}
{% if template contains 'faq' %}{% include 'faq-scripts' %}{% endif %}
{% if template contains 'product' %}{% include 'product-page-scripts' %}{% endif %}
{% if template contains 'product' and product.available %}{% include 'product-available-scripts' %}{% endif %}
{% if template contains 'collection' %}{% include 'collection-scripts' %}{% endif %}
{% if template contains 'gift-guide' %}{% include 'gift-guide-scripts' %}{% endif %}
{% if template contains 'bts' %}{% include 'bts-scripts' %}{% endif %}
{% if template contains 'our-story' %}{% include 'our-story-scripts' %}{% endif %}
{% if template contains 'introducing-voyager' %}{% include 'introducing-voyager-scripts' %}{% endif %}
{% if template contains 'article' %}{% include 'article-scripts' %}{% endif %}
{% if template contains 'cart' %}{% include 'cart-scripts' %}{% endif %} 

<!-- Retargeter burn pixel for people referred from email. -->
{% include 'retargeter-burn-script' %}
{% include 'adroll-pixel' %}

<!-- Crazy Egg script. -->
{% include 'crazy-egg' %}
</body>
</html>