<div id='cart' class='container'>
  <div class='col-xs-12 col-lg-8 col-lg-offset-2'>
	{% if cart.item_count > 0 %}
	<form action="/cart" method="post">
    	<div class='row'>
	      <h1>SHOPPING BAG</h1>
	    </div>
        <div class='row' >
          {{ 'giftwrap-banner.jpg' | asset_url | img_tag: 'Four Free Holiday Gift Wrap Options Available', 'cart-banner'  }}
        </div>
	    <div class='row'> 
	      <table>
	        <tr>
	          <th>ITEM</th>
	          <th>PRICE</th>
              <th>QUANTITY</th>
	          <th class="hidden-xs">TOTAL</th>
	        </tr>
			{% for item in cart.items %} 
	        <tr>
              <td><a href='{{ item.product.url }}'><img class='cart-item' src="{{ item.product.featured_image.src | product_img_url: 'compact' }}" alt="{{ item.title | escape }}"> <br> {{ item.product.type }} \\ {{ item.variant.option2 | escape }}</a></td>
	          <td>{{ item.price | money }}</td>
	          <td class='product-quantity'>
                <input class="text quantity replace updates-quantity" type="text" size="4" id="updates_{{ item.id }}" name="updates[{{ item.id }}]" value="{{ item.quantity }}" onchange="updateQuantity();" />
                <a class="icon-trash remove-from-cart" href="/cart/change?id={{ item.id }}&quantity=0"></a>
                <br>
                <input id='quantity-update-submit' type="submit" value="Update" />
              </td>
	          <td class='hidden-xs'>{{ item.line_price | money }}</td>
	        </tr>
			{% endfor %}
	      </table>
	    </div>
	    <div class='row'>
	      <p class='grand-total'>GRAND TOTAL: {{ cart.total_price | money }}</p>
	    </div>
	    <div class='row'>
	      <div class='cart-buttons'>
            <a href='/collections/new-releases'><span class='cart-button keep-shopping'>KEEP SHOPPING</span></a>
            <span class='cart-button gift-wrapping'>GIFT WRAP <input id="wrapping" type="checkbox" name="attributes[wrapping]" value="yes" /></span> 
	        <button class='cart-button checkout-button' name="checkout">CHECKOUT</button>
          </div>
	    </div>
        <div id='gift-wrap' class='row'>
          <h3>Select your gift wrap:</h3>
        {% assign attribute = 'type-of-wrap' %}
        {% for i in (1..4) %}
          {% capture option %}{% cycle 'waves', 'clouds', 'mountain', 'astronaut' %}{% endcapture %}
          {% capture option_jpg %}2{{option}}.jpg{% endcapture %}
          <div class='col-xs-12 col-sm-6 gift-wrap-option'>
            <img src="{{ option_jpg | asset_url }}" alt='{{option}}'>
            <input type="radio" id="{{ option }}" name="attributes[{{ attribute }}]" value="{{ option }}" />
            <label for="{{ option }}"><span></span></label>
          </div>
        {% endfor %}
          <button class='cart-button checkout-button visible-xs' name="checkout">CHECKOUT</button>
          <button class='cart-button checkout-button hidden-xs' name="checkout" style='float: left; margin-left: 34%; margin-right: 34%;'>CHECKOUT</button>
        </div>
	</form>
    <div class='row addon-items hidden-xs'>
      <h2>MAY WE ALSO SUGGEST</h2>
      <a id='boxed-set' href='javascript:void(0)' class='add-this'>
        <div class='col-sm-4 addon-item'>
          {{ 'boxed_set.jpg' | asset_url | img_tag }}
          <p>Special Edition Boxed Set</p>
          <p class='price'>$250</p>
          <button>ADD TO CART</button>
        </div>
      </a>
      <a id='playing-cards' href='javascript:void(0)' class='add-this'>
        <div class='col-sm-4 addon-item'>
          {{ 'playing_cards.jpg' | asset_url | img_tag }}
          <p>Playing Cards</p>
          <p class='price'>$35</p>
          <button>ADD TO CART</button>
        </div>
      </a>
      <a id='pocket-case' href='javascript:void(0)' class='add-this'>
        <div class='col-sm-4 addon-item'>
          {{ 'small_case.jpg' | asset_url | img_tag }}
          <p>Additional Pocket-Sized Case</p>
          <p class='price'>$40</p>
          <button>ADD TO CART</button>
        </div>
      </a>
    </div>
    {% else %}
	<p>Your cart is empty. <a href="/collections/new-releases">Continue shopping...</a></p>
	{% endif %}
    <div class='row'>
      <div>
        <img src='{{ 'shipping-holiday.jpg' | asset_url }}' alt='Free Domestic Shipping, Free International Shipping for the Holidays' class='cart-bottom-img'>
      </div>
    </div>
  </div>
</div> 