<!-- BeginApplePayLiquid -->{% if additional_checkout_buttons == false %}{% assign additional_checkout_buttons = true %}{% endif %}{% if customer %}<script>Shopify.customer_tax_exempt = {{ customer.tax_exempt }}</script>{% else %}<script>Shopify.customer_tax_exempt = false</script>{% endif %}{% capture content_for_additional_checkout_buttons %}<img id="applePayButton" style="display: none" src="data:image/gif;base64,R0lGODlhAQABAAAAACH5BAEKAAEALAAAAAABAAEAAAICTAEAOw==" onload="typeof createApplyPayButton === 'function' ? createApplyPayButton(this) : window.addEventListener('applePayReady', (function(){createApplyPayButton(this)}).bind(this))" />{{content_for_additional_checkout_buttons}}{% endcapture %}<!-- EndApplePayLiquid -->
{% assign sale = false %}
<div id='cart' class='container'>
  <div class='col-xs-12 col-lg-10 col-lg-offset-1'>
	{% if cart.item_count > 0 %}
	<form action="/cart" method="post">
    	<div class='row'>
	      <h1>SHOPPING BAG</h1>
	    </div>
	    <div class='row'> 
	      <table>
	        <tr>
	          <th>ITEM</th>
	          <th>PRICE</th>
              <th>QUANTITY</th>
	          <th class="hidden-xs">TOTAL</th>
	        </tr>
			{% for item in cart.items %} 
              {% for tag in item.product.tags %}
                {% if tag contains 'Sale' %}{% assign sale = true %}{% endif %}
              {% endfor %}
	        <tr>
              <td><a href='{{ item.product.url }}'><img class='cart-item' src="{{ item.product.featured_image.src | product_img_url: 'compact' }}" alt="{{ item.title | escape }}"> <br> {{ item.product.title | escape }} \\ {{ item.variant.option3 | escape }}</a></td>
	          <td>{{ item.price | money_without_trailing_zeros | remove: ' ' }}</td>
	          <td class='product-quantity'>
                <input class="text quantity replace updates-quantity" type="text" size="4" id="updates_{{ item.id }}" name="updates[{{ item.id }}]" value="{{ item.quantity }}" onchange="updateQuantity();" />
                <a class="icon-trash remove-from-cart" href="/cart/change?id={{ item.id }}&quantity=0"></a>
                <br>
                <input id='quantity-update-submit' type="submit" value="Update" />
              </td>
	          <td class='hidden-xs'>{{ item.line_price | money_without_trailing_zeros | remove: ' ' }}</td>
	        </tr>
			{% endfor %}
	      </table>
	    </div>
	    <div class='row'>
	      <p class='grand-total'>GRAND TOTAL: {{ cart.total_price | money_without_trailing_zeros | remove: ' ' }}</p>
	    </div>
	    <div class='row'>
	      <div class='cart-buttons'>
            <a href='/collections/new-releases'><span class='cart-button keep-shopping'>KEEP SHOPPING</span></a>
            {% if sale %}
              <!-- No gift wrap available for sale items. -->
            {% else %}
            <span class='cart-button gift-wrapping'>GIFT WRAP <input id="wrapping" type="checkbox" name="attributes[wrapping]" value="yes" /></span> 
            {% endif %}
	        <button class='cart-button checkout-button' name="checkout">CHECKOUT</button>
          </div>
	    </div>
        <div id='gift-wrap' class='row'>
          <h3>Select your gift wrap</h3>
        {% assign attribute = 'type-of-wrap' %}
        {% for i in (1..4) %}
          {% capture option %}{% cycle 'holiday', 'waves', 'clouds', 'mountain' %}{% endcapture %}
          {% capture option_jpg %}2{{option}}.jpg{% endcapture %}
          <div class='col-xs-12 col-sm-6 gift-wrap-option'>
            <img src="{{ option_jpg | asset_url }}" alt='{{option}}'>
            <input type="radio" id="{{ option }}" name="attributes[{{ attribute }}]" value="{{ option }}" />
            <label for="{{ option }}"><span></span></label>
          </div>
        {% endfor %}
          <button class='cart-button checkout-button visible-sm visible-xs' name="checkout">CHECKOUT</button>
          <button class='cart-button checkout-button hidden-sm hidden-xs' name="checkout" style='float: left; margin-left: 34%; margin-right: 34%;'>CHECKOUT</button>
        </div>
	</form>
    {% else %}
	<p class='continue-shopping'>Your cart is empty. <a href="/collections/new-releases">Continue shopping...</a></p>
	{% endif %}
    <div class='row'>
      <div>
        <a href="http://www.westwardleaning.com/pages/contact" class="no-background-hover"><img src='{{ 'shipping_xmas.jpg' | asset_url }}' alt='Free Shipping Worldwide' class='cart-bottom-img'></a>
      </div>
    </div>
  </div>
</div> 