<div id='new-about' class='fluid-container'>
  <div id="Back-To-Top"></div>
  <div class='row about-block'>
    <h1>ABOUT</h1>
    <p>Westward Leaning is a California-based brand that is passionate about making <b>chic, luxurious, slick, and colorful glasses.</b> We are beloved by our cult following of tastemakers the world over.</p>
    <p>The fusion of fashion and philanthropy is core to our identity. We incorporate unique materials into each pair of glasses that represent our charitable commitment; our eyewear is equally beautiful and meaningful.</p>
    <p>We love design and spend a crazy amount of time developing each shape to ensure they’re the most universal fit and flattering for all. While our collection has grown from our original wayfarer, we still believe that classic shapes deserve an update. We also know that once our fans find their perfect glasses they want them in every color, so unlike most eyewear companies we have a wide range of options in every style.</p> 
  </div>

  <div class='row divider'> 
        {{ 'divider_2.jpg' | asset_url | img_tag: "Divider" }}
      </div> 
  
  <div class='row inspiration-block'>
    <h1>INSPIRATION</h1>
    <div class='glasses-block'>
      <div class='frame col-md-12'> 
        {{ 'Atlas_About.jpg' | asset_url | img_tag: "Atlas" }}
      </div>  
      <h3><a href="http://www.westwardleaning.com/collections/atlas" target="_blank">Atlas</a></h3>
      <p class='glasses col-md-12'>Until the 18th century, the rocks of Gibraltar carried a warning: “nec plus ultra” (there is nothing beyond here). The idea of a circular planet began with the age of discovery and Magellan’s circumnavigation of the globe...though we later learned our world was ellipsoidal, not spherical. With its gently sloping downward curve, the top line of our Atlas frame pays tribute to planetary explorers and limitless horizons. </p>
    </div>

    <div class='glasses-block'>
      <div class='frame col-md-12'> 
        {{ 'Concorde_About.jpg' | asset_url | img_tag: "Concorde" }}
      </div>
      <h3><a href="http://www.westwardleaning.com/collections/concorde" target="_blank">Concorde</a></h3>
      <p class ='glasses col-md-12'>History’s most illustrious supersonic commercial aircraft, Concorde, represented a milestone in the history of aviation. It was an engineering marvel that redefined jet set. In recognition of this achievement, our Concorde collection is a slick take on the aviator glasses originally developed for pilots.</p>   
    </div>

    <div class='glasses-block'>
      <div class='frame col-md-12'> 
        {{ 'Flower_About.jpg' | asset_url | img_tag: "Flower" }}
      </div>  
      <h3><a href="http://www.westwardleaning.com/collections/flower" target="_blank">Flower</a></h3>
      <p class='glasses col-md-12'>Flower (Power!) was inspired by 1967’s summer of love, a social phenomenon that originated in the Haight-Ashbury neighborhood of San Francisco. The mixed materials and strong colors reference the melting pot of cultures and people that became a hallmark of the counterculture movement. With flowers in their hair, the hippie generation affected a monumental shift in global attitudes, from free love to gender equality; we celebrate their legacy with our Flower frame.</p>
    </div>

    <div class='glasses-block'>
      <div class='frame col-md-12'> 
        {{ 'Galileo_About.jpg' | asset_url | img_tag: "Galileo" }}
      </div>  
      <h3><a href="http://www.westwardleaning.com/collections/galileo" target="_blank">Galileo</a></h3>
      <p class='glasses col-md-12'>Galileo was the most futuristic visionary of his time, and inspired these eponymous frames. He was the father of modern astronomy and his improvements to the telescope led to consequential astronomical observations, including the heliocentric nature of our solar system. While our Galileo frames aren’t telescopic, you can at least see the world through rose-colored glasses (or steel blue, neon yellow, and bronze, just to name a few). And with a heliocentric future so bright...you gotta wear shades.</p> 
    </div>

    <div class='glasses-block'>
      <div class='frame col-md-12'> 
        {{ 'Pioneer_About.jpg' | asset_url | img_tag: "Pioneer" }}
      </div>  
      <h3><a href="http://www.westwardleaning.com/collections/pioneer" target="_blank">Pioneer</a></h3>
      <p class='glasses col-md-12'>Pioneer, our first design launched in 2012, is an original take on the wayfarer shape, which pays tribute to California’s pioneering heritage. It represents our hope, determination, and goodwill for California’s future and is the gold standard of our collection.</p>
    </div>

    <div class='glasses-block'>
      <div class='frame col-md-12'> 
        {{ 'Voyager_About.jpg' | asset_url | img_tag: "Voyager" }}
      </div>  
      <h3><a href="http://www.westwardleaning.com/collections/circle" target="_blank">Voyager</a></h3>
      <p class='glasses col-md-12'>The Voyager space probes were launched in 1977 to study the planetary systems of Jupiter and Saturn. Our Voyager frame was inspired by the round shape of the spacecraft’s attendant golden record, which featured the diverse sounds of planet Earth. </p>
    </div>

    <div class='glasses-block'>
      <div class='frame col-md-12'> 
        {{ 'Vanguard_About.jpg' | asset_url | img_tag: "Vanguard" }}
      </div>  
      <h3><a href="http://www.westwardleaning.com/collections/project-vanguard" target="_blank">Vanguard</a></h3>
      <p class='glasses col-md-12'>In March of 1958, the American satellite project Vanguard 1 launched into orbit. It still circles the Earth today as the oldest man-made satellite. In recognition of this achievement, our Vanguard frame celebrates the spirit of an era when mankind reached for the cosmos; it’s our modern take on the classic half-frame shape.</p> 
    </div>

  </div>   
  
   
  <div id='bts-gallery' class='row'>
    <!-- Let's preload gallery nav arrows... -->
    <div class='hidden'>{{ 'arrow_light_right.jpg' | asset_url | img_tag }}{{ 'arrow_dark_right.jpg' | asset_url | img_tag }}{{ 'arrow_light_left.jpg' | asset_url | img_tag }}{{ 'arrow_dark_left.jpg' | asset_url | img_tag }}</div>
    <div id='bts-left-arrow' class='col-md-1 gallery-arrow left'>
      {{ 'arrow_light_left.jpg' | asset_url | img_tag: 'Cycle Left', 'light-arrow' }}
      {{ 'arrow_dark_left.jpg' | asset_url | img_tag: 'Cycle Left', 'dark-arrow' }}
    </div>
    <div id='bts-gallery-images' class='col-md-10'>
      {{ 'BTS_1.jpg' | asset_url | img_tag: 'Behind the Scenes 1', 'active first' }}
      {{ 'BTS_2.jpg' | asset_url | img_tag: 'Behind the Scenes 2' }}
      {{ 'BTS_3.jpg' | asset_url | img_tag: 'Behind the Scenes 3' }}
      {{ 'BTS_4.jpg' | asset_url | img_tag: 'Behind the Scenes 4', 'last' }}
    </div>
    <div id='bts-right-arrow' class='col-md-1 gallery-arrow right'>
      {{ 'arrow_light_right.jpg' | asset_url | img_tag: 'Cycle Right', 'light-arrow' }}
      {{ 'arrow_dark_right.jpg' | asset_url | img_tag: 'Cycle Right', 'dark-arrow' }}
    </div>
  </div>
  
   <div class='row craftsmanship-block'>
    <h1>CRAFTSMANSHIP</h1>
    <p>Each pair of Westward Leaning sunglasses carries its own unique story. At Westward Leaning’s San Francisco studio, our team of artisans and jewelers handcraft each pair of sunglasses using traditional techniques perfected over thousands of years. They cut, weave, sew, and sand the frames’ unique accent materials before they are inlaid in our frames by hand. Every single component of our sunglasses and unique packaging is subject to our rigorous quality control. From our home to yours: at Westward Leaning we believe the special touches make all the difference.</p>
  </div>
  
  <div class='row divider'> 
        {{ 'divider_1.jpg' | asset_url | img_tag: "Divider" }}
  </div>

  <div class='row packaging-block'>
    <h1>PACKAGING</h1>
    <p class='inspiration col-md-12'>All of our sunglasses are hand packaged at our San Francisco design studio featuring our signature ribboned boxes. In addition to a traditional large and durable clamshell outer case, our sunglasses come with a custom-designed and compact protective sleeve. By popular demand we made this pocket-sized case available for purchase on its own.</p> 
    <div class='frame col-md-12'> 
      {{ 'packaging.jpg' | asset_url | img_tag: "Packaging" }}
    </div> 
  </div>
  
  <div class='row divider'> 
        {{ 'divider_3.jpg' | asset_url | img_tag: "Divider" }}
      </div>
  
  <div class='row press-block'>
    <h1>PRESS</h1>
    <div class='press-box col-md-4 col-xs-12'> 
      {{ 'press_wwd.jpg' | asset_url | img_tag: "WWD" }}
      <p>"A modern take on the wayfarer"</p>
    </div>

    <div class='press-box col-md-4 col-xs-12'>
      <a target="_blank" href="http://www.wmagazine.com/fashion/accessories/2012/04/were-eyeing-westward-leanings/">
        {{'press_W.jpg' | asset_url | img_tag: "w" }}
        <p>"The wayfarer style is being made charitable by Westward Leaning’s new designs"</p>
      </a>
    </div>

    <div class='press-box col-md-4 col-xs-12'> 
      {{ 'press_bazaar.jpg' | asset_url | img_tag: "Harper's Bazaar" }}
      <p>"Make a stylish difference...and support educational programs dedicated to social causes that each pair represents"</p>
    </div>

    <div class='press-box col-md-4 col-xs-12'>
      <a target="_blank" href="http://www.interviewmagazine.com/fashion/most-wanted-westward-leaning-teddy-roosevelt-sunglasses/">
        {{ 'press_interview.jpg' | asset_url | img_tag: "Interview" }}
        <p>"This Spring we would most like to hide behind glasses from Westward Leaning"</p>
      </a>
    </div>

    <div class='press-box col-md-4 col-xs-12'> 
      <a target="_blank" href="http://www.elle.com/fashion/accessories/news/a8850/westward-leaning-your-new-favorite-sunglasses-40836/">
        {{ 'press_elle.jpg' | asset_url | img_tag: "Elle" }}
        <p>"Your new favorite sunglasses"</p>
      </a>
    </div>

    <div class='press-box col-md-4 col-xs-12'> 
      {{ 'press_vogue.jpg' | asset_url | img_tag: "Vogue" }}
      <p>"We've had our eyes on (or behind, rather) these sunglasses since the San Francisco-based label launched"</p>
    </div>

    <div class='press-box col-md-4 col-xs-12'> 
      {{ 'press_nyt.jpg' | asset_url | img_tag: "New York Times" }}
      <p>"Sunglasses with iridescent mirrored lenses...work some amazing tricks, the shifting colors picking up those in your ensemble"</p>
    </div>

    <div class='press-box col-md-4 col-xs-12'> 
      <a target="_blank" href="http://nymag.com/thecut/2012/06/best-bet-westward-leaning-mirrored-sunglasses.html">
        {{ 'press_newyork.jpg' | asset_url | img_tag: "New York" }}
        <p>"Best bet... perfect for shading your eyes on the street — or better yet, by the pool"</p>
      </a>
    </div>

    <div class='press-box col-md-4 col-xs-12'> 
      <a target="_blank" href="http://www.wsj.com/news/interactive/mag0613whatsnews2">
        {{ 'press_wsj.jpg' | asset_url | img_tag: "Wall Street Jounral" }}
        <p>"Petrochemical-free sunglasses...proceeds will go toward the restoration of pollution-damaged areas of the American Southeast"</p>
      </a>
    </div>

    <div class='press-box col-md-4 col-xs-12'> 
      {{ 'press_nylon.jpg' | asset_url | img_tag: "Nylon" }}
      <p>"Take time to reflect in the season's hottest shades"</p>
    </div>

    <div class='press-box col-md-4 col-xs-12'> 
      {{ 'press_newsweek.jpg' | asset_url | img_tag: "Newsweek" }}
      <p>"Great for a trip because they will go with everything in your suitcase"</p>
    </div>

    <div class='press-box col-md-4 col-xs-12'>
      {{ 'press_marieclaire.jpg' | asset_url | img_tag: "Marie Claire" }}
      <p>"A favorite of international fashion editors"</p>
    </div>

    <div class='press-box col-md-4 col-xs-12'>
      {{ 'press_t.jpg' | asset_url | img_tag: "T" }}
      <p>"The Look of the Moment"</p>
    </div>

    <div class='press-box col-md-4 col-xs-12'> 
      {{ 'press_people.jpg' | asset_url | img_tag: "People" }}
      <p>"Pretty much everyone in Hollywood owns a pair of this brand's shades"</p>
    </div>

    <div class='press-box col-md-4 col-xs-12'>
      <a target="_blank" href="http://www.instyle.com/fashion/accessories/shop-star-sunglasses/page8">
        {{ 'press_instyle.jpg' | asset_url | img_tag: "InStyle" }}
        <p>"San Francisco sunglasses mavens"</p>
      </a>
    </div>

    <div class='press-box col-md-4 col-xs-12'>
      <a target="_blank" href="http://www.luckyshops.com/article/olivia-palermo-westward-leaning">
        {{ 'press_lucky.png' | asset_url | img_tag: "Lucky" }}
        <p>“Frames that’d fit in right by the pool, at the shore — or in the front row of a fashion show”</p>
      </a>
    </div>
    
    <div class='press-box col-md-4 hidden-sm hidden-xs'>
      
    </div>
    
    <div class='press-box col-md-4 col-md-4 col-xs-12'>
      <a target="_blank" href="http://www.self.com/life/travel/2015/02/tropical-travel-packing-essentials/">
        {{ 'press_self.jpg' | asset_url | img_tag: "Self" }}
        <p>"Sunglasses that are sporty and stylish"</p>
      </a>
    </div>
  </div>
     <div class='back to top'><a href="#Back-To-Top">&uarr;</a></div>      

</div>
