<div id='{{ page.handle }}' class='container'>
  
  <div class="spinner">
    <div class="dot1"></div>
    <div class="dot2"></div>
  </div>
  
  <div id='content' class='hidden'>
  <div id='bts-gallery' class='row'>
    <!-- Let's preload gallery nav arrows... -->
    <div class='hidden'>{{ 'arrow_light_right.jpg' | asset_url | img_tag }}{{ 'arrow_dark_right.jpg' | asset_url | img_tag }}{{ 'arrow_light_left.jpg' | asset_url | img_tag }}{{ 'arrow_dark_left.jpg' | asset_url | img_tag }}</div>

    <div id='bts-left-arrow' class='col-md-2 hidden-sm hidden-xs gallery-arrow left'>
      {{ 'arrow_light_left.jpg' | asset_url | img_tag: 'Cycle Left', 'light-arrow' }}
      {{ 'arrow_dark_left.jpg' | asset_url | img_tag: 'Cycle Left', 'dark-arrow' }}
    </div>
    <div id='bts-gallery-images' class='col-md-8 col-xs-12'>
      {{ 'BTS_GALLERY_1.jpg' | asset_url | img_tag: 'Behind the Scenes 1', 'active first' }}
      {{ 'BTS_GALLERY_2.jpg' | asset_url | img_tag: 'Behind the Scenes 2' }}
      {{ 'BTS_GALLERY_3.jpg' | asset_url | img_tag: 'Behind the Scenes 3' }}
      {{ 'BTS_GALLERY_4.jpg' | asset_url | img_tag: 'Behind the Scenes 4' }}
      {{ 'BTS_GALLERY_5.jpg' | asset_url | img_tag: 'Behind the Scenes 5' }}
      {{ 'BTS_GALLERY_7.jpg' | asset_url | img_tag: 'Behind the Scenes 7' }}
      {{ 'BTS_GALLERY_8.jpg' | asset_url | img_tag: 'Behind the Scenes 8', 'last' }}
    </div>
    <div id='bts-right-arrow' class='col-md-2 hidden-sm hidden-xs gallery-arrow right'>
      {{ 'arrow_light_right.jpg' | asset_url | img_tag: 'Cycle Right', 'light-arrow' }}
      {{ 'arrow_dark_right.jpg' | asset_url | img_tag: 'Cycle Right', 'dark-arrow' }}
    </div>
    <div class='col-md-offset-2 col-md-8 col-xs-12'>
      <h1>AT OUR SAN FRANCISCO STUDIO</h1>
      <p>Our team of artisans and jewelers handcraft your Westward Leaning sunglasses. They cut, weave, sew, and sand the frames’ side pieces before they are inlaid in our frames by hand.</p>
    </div>
  </div>
  <div id='bts-grid' class='row'>
    <div class='col-md-offset-2 col-md-4 col-xs-12'>
      {{ 'BTS_GRID_1.jpg' | asset_url | img_tag }}
    </div>
    <div class='col-md-4 col-xs-12'>
      {{ 'BTS_GRID_2.jpg' | asset_url | img_tag }}
    </div>
    <div class='col-md-offset-2 col-md-4 col-xs-12'>
      {{ 'BTS_GRID_3.jpg' | asset_url | img_tag }}
    </div>
    <div class='col-md-4 col-xs-12'>
      {{ 'BTS_GRID_4.jpg' | asset_url | img_tag }}
    </div>
    <div class='col-md-offset-2 col-md-4 col-xs-12'>
      {{ 'BTS_GRID_5.jpg' | asset_url | img_tag }}
    </div>
    <div class='col-md-4 col-xs-12'>
      {{ 'BTS_GRID_6.jpg' | asset_url | img_tag }}
    </div>
    <div class='col-md-offset-4 col-md-4 col-xs-12'>
      <p class='buy-style'><a href='/collections/new-releases'>SHOP THE COLLECTION</a></p>
    </div>
  </div>
  </div>
</div>