<div id='{{ page.handle }}' class='container'>
  <div class='col-md-8 col-md-offset-2 col-xs-12'>
    <div id="also-recommend">
      <div id="seasons-trends">
        <h1>THIS SEASON'S TRENDS</h1>
        <div class="row">
          <a href="/products/n-15-2-mother-of-pearl">
          <div class="col-md-4 col-xs-12">
            <img src="{{ '15_2.jpg' | asset_url }}" alt="" width="100%">
            <p class="price">MOTHER OF PEARL N°15.2</p>
            <p class="price">$180</p>
            <p>Our latest model features mother of pearl inlays and muted silver lenses in blonde tortoise frames. Sophisticated, but unexpected, these shades are the requisite finishing touch for the jet set.</p>
          </div>
          </a>          
          <a href="/products/children-of-california-1-4-blue-mirror-wayfarer">
          <div class="col-md-4 col-xs-12">
            <img src="{{ '1_4.jpg' | asset_url }}" alt="" width="100%">
            <p class="price">CHILDREN OF CALIFORNIA N°1.4</p>
            <p class="price">$180</p>
            <p>We've updated our original model with blue mirrors and our new amber frames for a must-have, eye-catching transitional piece.</p>
          </div>
          </a>
          <a href="/products/op-2">
          <div class="col-md-4 col-xs-12">
            <img src="{{ 'OP2.jpg' | asset_url }}" alt="" width="100%">
            <p class="price">OP.2 PALERMO</p>
            <p class="price">$210</p>
            <p>This pair, designed in collaboration with OliviaPalermo.com, has quickly become a bestseller thanks to its classic-with-a-twist appeal.</p>
          </div>
          </a>
        </div>
      </div>
      <div id="perfect-match">
      <h1>GIFT GUIDE</h1>
      <div class="row">
        <a href="/products/op-8">
        <div class="col-md-4 col-xs-12">
          <img src="{{ 'OP8.jpg' | asset_url }}" alt="" width="100%">
          <div class="col-md-12">
            <h3>FOR THE TASTEMAKER</h3>
            <p class="price">OP.8 PALM BEACH</p>
            <p class="price">$210</p>
            <p>Featuring teal sea glass inlays and mirrored gold lenses in a stunning pepper tortoise frame, these sunglasses make a bold but elegant sartorial statement. This pair is perfect for anyone in the business of setting trends, not following them.</p>
          </div>
        </div>
        </a>
        <a href="/products/n-3-11-mercury-seven">
        <div class="col-md-4 col-xs-12">
          <img src="{{ '3_11.jpg' | asset_url }}" alt="" width="100%">
          <div class="col-md-12">
            <h3>FOR THE WARRIOR POET</h3>
            <p class="price">MERCURY SEVEN N°3.11</p>
            <p class="price">$210</p>
            <p>These two-tone sunglasses mix classic black and on-trend sand tortoise. They're the ideal companion for outdoor adventures, even (especially?) if this weekend just means reading <em>Infinite Jest</em> in Dolores Park.</p>
          </div>
        </div>
        </a>
        <a href="/products/n-9-11-color-revolution">
        <div class="col-md-4 col-xs-12">
          <img src="{{ '9_11.jpg' | asset_url }}" alt="" width="100%">
          <div class="col-md-12">
            <h3>FOR THE BEACH BUM</h3>
            <p class="price">COLOR REVOLUTION N°9.11</p>
            <p class="price">$180</p>
            <p>Summer's MVP, the sand tortoise frame and blue mirrors look just as good on the street as they do on the beach. Beachin', indeed.</p>
          </div>
        </div>
        </a>
      </div>
      <div class="row">
        <a href="/products/n-2-louisiana-purchase">
        <div class="col-md-4 col-xs-12">
          <img src="{{ '2_1.jpg' | asset_url }}" alt="" width="100%">
          <div class="col-md-12">
            <h3>FOR THE BUDDING MUSICIAN</h3>
            <p class="price">LOUISIANA PURCHASE N°2.1</p>
            <p class="price">$180</p>
            <p>Honor a passion for music with these sunglasses inspired by New Orleans's jazz tradition. $10 from the sale of each pair benefits jazz musicians displaced by Hurricane Katrina.</p>
          </div>
        </div>
        </a>
        <a href="/products/n-11-1-futurism">
        <div class="col-md-4 col-xs-12">
          <img src="{{ '11_1.jpg' | asset_url }}" alt="" width="100%">
          <div class="col-md-12">
            <h3>FOR THE AESTHETE</h3>
            <p class="price">FUTURISM N°11.1</p>
            <p class="price">$180</p>
            <p>Inspired by the 20th century art movement of the same name, and with an ultra-modern flat top, this model was made with design lovers in mind.</p>
          </div>
        </div>
        </a>
        <a href="/products/n-3-mercury-seven">
        <div class="col-md-4 col-xs-12">
          <img src="{{ '3_1.jpg' | asset_url }}" alt="" width="100%">
          <div class="col-md-12">
            <h3>FOR THE ARCHITECT</h3>
            <p class="price">MERCURY SEVEN N°3.1</p>
            <p class="price">$180</p>
            <p>One of our original models, this pair's popularity has endured thanks to its clean design and unfussy details. We see these sunglasses on industrial designers, architects, and others with a keen eye for functional luxury.</p>
          </div>
        </div>
        </a>
      </div>
      <div class="row">
        <a href="/products/n-9-color-revolutions-orange-white">
        <div class="col-md-4 col-xs-12">
          <img src="{{ '9_4.jpg' | asset_url }}" alt="" width="100%">
          <div class="col-md-12">
            <h3>FOR THE COACHELLA-REGULAR</h3>
            <p class="price">COLOR REVOLUTION N°9.4</p>
            <p class="price">$180</p>
            <p>Bold white frames and orange mirror lenses combine for a show-stopping, Instagram-worthy pair that will take you from Coachella to Glastonbury, and everywhere in between.</p>
          </div>
        </div>
        </a>
        <a href="/products/color-revolution-9-6-pink-mirror-wayfarer">
        <div class="col-md-4 col-xs-12">
          <img src="{{ '9_6.jpg' | asset_url }}" alt="" width="100%">
          <div class="col-md-12">
            <h3>FOR THE INGÉNUE</h3>
            <p class="price">COLOR REVOLUTION N°9.6</p>
            <p class="price">$180</p>
            <p>Sugar and spice and everything nice manifest in this pretty pair that combines cool frost frames and on-trend pink lenses. These sunglasses are perfect for the tender-hearted souls who want to make "seeing the world through rose-colored glasses" a literal style statement.</p>
          </div>
        </div>
        </a>
      </div>
      </div>
    </div>
    <div id='quiz-wrapper'>
    <h1>STILL NOT SURE? TAKE OUR QUIZ</h1><p class="explanation">We've matched each of the 16 different MBTI personalities with a pair of our sunglasses. Take the quiz below to get your perfect, very scientific match (and see which famous people share your personality type). For more information on MBTI, please visit <a href="http://www.truity.com/view/types">truity.com</a>.</p>
    <div id="mbti-quiz">
      <h2>Pick one option from each row that best describes you:</h2>
      <section id="e" class="mbti-type" style="cursor: pointer;">
        <h3 class='hidden-xs'>My friend group is large</h3>
        <h3 class='visible-xs'>Parties</h3>
        <p class='hidden-xs'>I am outgoing and social, at ease with new people; I enjoy working in groups; I prefer action over contemplation</p>
      </section>      
      <section id="i" class="mbti-type" style="cursor: pointer;">
        <h3 class='hidden-xs'>I prefer having a few good friends</h3>
        <h3 class='visible-xs'>Dinners</h3>
        <p class='hidden-xs'>I am shy and reserved; I value alone time and find relative solitude necessary to recharge; I prefer contemplation over action</p>
      </section>
      <section id="s" class="mbti-type" style="cursor: pointer;">
        <h3 class='hidden-xs'>My feet are firmly on the ground</h3>
        <h3 class='visible-xs'>Facts</h3>
        <p class='hidden-xs'>I am more comfortable with concrete realities than with complex ideas; I tend to rely on inductive reasoning (facts to the big picture); I am practical; I learn through and trust experience over words and symbols</p>
      </section>
      <section id="n" class="mbti-type" style="cursor: pointer;">
        <h3 class='hidden-xs'>My head is in the clouds</h3>
        <h3 class='visible-xs'>Ideas</h3>
        <p class='hidden-xs'>I am more comfortable with complex ideas than with concrete realities; I tend to rely on deductive reasoning (big picture to the facts); I can be too idealistic; I value impressions, symbols, and metaphors</p>
      </section>
      <section id="t" class="mbti-type" style="cursor: pointer;">
        <h3 class='hidden-xs'>Head over heart</h3>
        <h3 class='visible-xs'>Head</h3>
        <p class='hidden-xs'>Fairness and telling the truth are extremely important to me; I prefer logical explanations and solutions; I tend to thrive in fields and situations where logic is important</p>
      </section>
      <section id="f" class="mbti-type" style="cursor: pointer;">
        <h3 class='hidden-xs'>Heart over head</h3>
        <h3 class='visible-xs'>Heart</h3>
        <p class='hidden-xs'>Harmony and compassion are extremely important to me; I'm people-oriented and naturally empathetic; mercy over justice</p>
      </section>
      <section id="j" class="mbti-type" style="cursor: pointer;">
        <h3 class='hidden-xs'>I am a planner</h3>
        <h3 class='visible-xs'>Planning</h3>
        <p class='hidden-xs'>I am decisive; to-do lists are my jam; I hate doing things in a rush; deadlines are non-negotiable</p>
      </section>
      <section id="p" class="mbti-type" style="cursor: pointer;">
        <h3 class='hidden-xs'>I am spontaneous</h3>
        <h3 class='visible-xs'>Spontaneity</h3>
        <p class='hidden-xs'>I can be indecisive; I often have to rush to meet deadlines (if I meet them at all); my work style is playful; deadlines are suggestions</p>
      </section>      
      <div id="results">
      <aside>Your perfect match is:</aside>
      <div class="row">
          <img src="{{ 'take_our_quiz.png' | asset_url }}" alt="Take our quiz!" id="take-our-quiz" class="col-md-12">
          <article id="istj" class="result">
            <img class="result-image col-md-5 col-xs-12" src={{ "3S.jpg" | asset_url }}>
            <section class="result-description col-md-7 col-xs-12">
              <h3>ISTJ: N°3S MERCURY SEVEN STEALTH</h3>
              <p>With your persistence and reliability, this model, boasting polarized glass lenses and a streamlined aesthetic, will appeal to your practical, get-sh*t-done spirit (and possible love of such solitary pursuits as golf and fishing).</p>
              <p>Famous ISTJs: QE2, Warren Buffett, Queen Victoria</p>
              <p><a class="gg-share" href="https://www.facebook.com/sharer/sharer.php?u={{ shop.url | url_escape }}/pages/westward-leaning-recommends" target="_blank">SHARE</a> <a class="gg-shop" href="/products/n-3s-mercury-seven-stealth">SHOP</a></p>
            </section>
          </article>
          <article id="infj" class="result">
            <img class="result-image col-md-5 col-xs-12" src={{ "8_1.jpg" | asset_url }}>
            <section class="result-description col-md-7 col-xs-12">
              <h3>INFJ: N°8.1 ULTRAMARINE</h3>
              <p>Sincere, easygoing, and sympathetic, you're likely to be a trusted confidante of friends and family while having a rich interior life. Drawn to art and literature, you'll appreciate the subtle sophistication of our Ultramarine model, inlaid with lapis.</p>
              <p>Famous INFJs: Emily Brontë, Eleanor Roosevelt, Mohandas Ghandi</p>
              <p><a class="gg-share" href="https://www.facebook.com/sharer/sharer.php?u={{ shop.url | url_escape }}/pages/westward-leaning-recommends" target="_blank">SHARE</a> <a class="gg-shop" href="/products/n-8-ultramarine">SHOP</a></p>
            </section>
          </article>
          <article id="isfj" class="result">
            <img class="result-image col-md-5 col-xs-12" src={{ "3_10.jpg" | asset_url }}>
            <section class="result-description col-md-7 col-xs-12">
              <h3>ISFJ: N°3.10 MERCURY SEVEN</h3>
              <p>Humble, loyal, and hardworking, you'll appreciate the unfussy luxury of our Mercury Seven sunglasses with black aluminum accents in a stylish sand tortoise frame. You're motivated by personal relationships, too, so this model's inspirition - a group of astronaut friends - will appeal to your worldview.</p>
              <p>Famous ISFJs: Mother Theresa, Rosa Parks, Kate Middleton, Dr. Dre</p>
              <p><a class="gg-share" href="https://www.facebook.com/sharer/sharer.php?u={{ shop.url | url_escape }}/pages/westward-leaning-recommends" target="_blank">SHARE</a> <a class="gg-shop" href="/products/n-3-10-mercury-seven">SHOP</a></p>
            </section>
          </article>
          <article id="intj" class="result">
            <img class="result-image col-md-5 col-xs-12" src={{ "1_2.jpg" | asset_url }}>
            <section class="result-description col-md-7 col-xs-12">
              <h3>INTJ: N°1.2 CHILDREN OF CALIFORNIA</h3>
              <p>You're independent, analytical, and achievement-oriented. With your exacting high standards, you'll enjoy our Children of California sunglasses, inspired by the achievements that have brought us both Hollywood and Silicon Valley.</p>
              <p>Famous INTJs: Hillary Clinton, Elon Musk, Stephen Hawking, Cormac McCarthy</p>
              <p><a class="gg-share" href="https://www.facebook.com/sharer/sharer.php?u={{ shop.url | url_escape }}/pages/westward-leaning-recommends" target="_blank">SHARE</a> <a class="gg-shop" href="/products/n-1-2-children-of-california">SHOP</a></p>
            </section>
          </article>
          <article id="istp" class="result">
            <img class="result-image col-md-5 col-xs-12" src={{ "OP7.jpg" | asset_url }}>
            <section class="result-description col-md-7 col-xs-12">
              <h3>ISTP: Op.7 BERLIN</h3>
              <p>A curious, practical, and resourceful thrill-seeker, you'll appreciate the rugged combination of blackened redwood accents, pepper tortoise frames, and muted gold lenses in this pair.</p>
              <p>Famous ISTPs: Amelia Earhart, Clint Eastwood, Katherine Hepburn</p>
              <p><a class="gg-share" href="https://www.facebook.com/sharer/sharer.php?u={{ shop.url | url_escape }}/pages/westward-leaning-recommends" target="_blank">SHARE</a> <a class="gg-shop" href="/products/op-7">SHOP</a></p>
            </section>
          </article>
          <article id="isfp" class="result">
            <img class="result-image col-md-5 col-xs-12" src={{ "2_2.jpg" | asset_url }}>
            <section class="result-description col-md-7 col-xs-12">
              <h3>ISFP: N°2.2 LOUISIANA PURCHASE</h3>
              <p>Cheerful, gentle, and spontaneous, you live in the present and have innate style. This effortlessly classic, go-with-everything pair will come in handy wherever your adventures take you.</p>
              <p>Famous ISFPs: Bob Dylan, Jackie Kennedy Onassis, Cher</p>
              <p><a class="gg-share" href="https://www.facebook.com/sharer/sharer.php?u={{ shop.url | url_escape }}/pages/westward-leaning-recommends" target="_blank">SHARE</a> <a class="gg-shop" href="/products/n-2-louisiana-purchase-tortoise-shell">SHOP</a></p>
            </section>
          </article>
          <article id="infp" class="result">
            <img class="result-image col-md-5 col-xs-12" src={{ "14_1.jpg" | asset_url }}>
            <section class="result-description col-md-7 col-xs-12">
              <h3>INFP: N°14.1 FATHOM FIVE</h3>
              <p>Imaginative, authentic, and original, you are drawn to the arts and guided by your personal values. This model, inspired by <em>The Tempest</em> by fellow INFP Shakespeare, will appeal to your artistic and individualistic sensibilities with its mirrored silver lenses and coral inlays in an otherwise classic black frame.</p>
              <p>Famous INFPs: Shakespeare, Princess Diana, Kurt Cobain, John Lennon, Audrey Hepburn</p>
              <p><a class="gg-share" href="https://www.facebook.com/sharer/sharer.php?u={{ shop.url | url_escape }}/pages/westward-leaning-recommends" target="_blank">SHARE</a> <a class="gg-shop" href="/products/n-14-1-fathom-five">SHOP</a></p>
            </section>
          </article>
          <article id="intp" class="result">
            <img class="result-image col-md-5 col-xs-12" src={{ "11_1.jpg" | asset_url }}>
            <section class="result-description col-md-7 col-xs-12">
              <h3>INTP: N°11.1 FUTURISM</h3>
              <p>Logical but unconventional, you're ahead of your time (just look at that list of your famous fellows). With its modern flat-top frame, our Futurism sunglasses, named for the 20th century art movement that glorified technology, will readily take the place of your safety goggles when you leave the lab and hit the streets.</p>
              <p>Famous INTPs: Marie Curie, Albert Einstein, Charles Darwin, Abraham Lincoln</p>
              <p><a class="gg-share" href="https://www.facebook.com/sharer/sharer.php?u={{ shop.url | url_escape }}/pages/westward-leaning-recommends" target="_blank">SHARE</a> <a class="gg-shop" href="/products/n-11-2-futurism">SHOP</a></p>
            </section>
          </article>
          <article id="estp" class="result">
            <img class="result-image col-md-5 col-xs-12" src={{ "5_1.jpg" | asset_url }}>
            <section class="result-description col-md-7 col-xs-12">
              <h3>ESTP: N°5.1 LOVE THY NEIGHBOR</h3>
              <p>You're the life of the party, energetic, and spontaneous. These sunglasses, with the riotous clash of orange and pepper tortoise, will complement your dynamic energy.</p>
              <p>Famous ESTPs: Winston Churchill, Madonna, Bruce Willis</p>
              <p><a class="gg-share" href="https://www.facebook.com/sharer/sharer.php?u={{ shop.url | url_escape }}/pages/westward-leaning-recommends" target="_blank">SHARE</a> <a class="gg-shop" href="/products/n-5-love-thy-neighbor">SHOP</a></p>
            </section>
          </article>
          <article id="esfp" class="result">
            <img class="result-image col-md-5 col-xs-12" src={{ "9_10.jpg" | asset_url }}>
            <section class="result-description col-md-7 col-xs-12">
              <h3>ESFP: N°9.10 COLOR REVOLUTION</h3>
              <p>Enthusiastic and friendly, you bring both common sense and fun to the table (with a dash of hedonism for good measure). Our Color Revolution sunglasses with blue lenses and pepper tortoise frames capture your fun-loving, <em>au courant</em> sense of style.</p>
              <p>Famous ESFPs: Judy Garland, Elvis Presley, Paul McCartney, Marilyn Monroe</p>
              <p><a class="gg-share" href="https://www.facebook.com/sharer/sharer.php?u={{ shop.url | url_escape }}/pages/westward-leaning-recommends" target="_blank">SHARE</a> <a class="gg-shop" href="/products/n-9-10-color-revolution">SHOP</a></p>
            </section>
          </article>
          <article id="enfp" class="result">
            <img class="result-image col-md-5 col-xs-12" src={{ "9_14.jpg" | asset_url }}>
            <section class="result-description col-md-7 col-xs-12">
              <h3>ENFP: N°9.14 COLOR REVOLUTION</h3>
              <p>A true people-person, you thrive on new ideas and helping people achieve. Often unconventional and artistic, you'll appreciate this Color Revolution pair for both its aesthetics and its inspiration: the revolutions that brought democratic change around the world.</p>
              <p>Famous ENFPs: Julie Andrews, Edith Wharton, Dr. Seuss, Mark Twain, Bill Clinton</p>
              <p><a class="gg-share" href="https://www.facebook.com/sharer/sharer.php?u={{ shop.url | url_escape }}/pages/westward-leaning-recommends" target="_blank">SHARE</a> <a class="gg-shop" href="/products/n-9-14-color-revolution">SHOP</a></p>
            </section>
          </article>
          <article id="entp" class="result">
            <img class="result-image col-md-5 col-xs-12" src={{ "10_5.jpg" | asset_url }}>
            <section class="result-description col-md-7 col-xs-12">
              <h3>ENTP: N°10.5 WINTERMUTE</h3>
              <p>You're entrepreneurial, resourceful, and always up for a challenge. Our two-tone Wintermute sunglasses, inspired by artificial intelligence in William Gibson's cyberpunk classic <em>Neuromancer</em>, are unique enough to keep you interested no matter where your curiosity takes you.</p>
              <p>Famous ENTPs: Steve Jobs, Walt Disney, Leonardo da Vinci, Jon Stewart</p>
              <p><a class="gg-share" href="https://www.facebook.com/sharer/sharer.php?u={{ shop.url | url_escape }}/pages/westward-leaning-recommends" target="_blank">SHARE</a> <a class="gg-shop" href="/products/n-10-5-wintermute">SHOP</a></p>
            </section>
          </article>
          <article id="estj" class="result">
            <img class="result-image col-md-5 col-xs-12" src={{ "9_3.jpg" | asset_url }}>
            <section class="result-description col-md-7 col-xs-12">
              <h3>ESTJ: N°9.3 COLOR REVOLUTION</h3>
              <p>You are goal-oriented, organized, and responsible, so our Color Revolutions with sporty orange lenses will appeal to your ability to be both a team player and a leader.</p>
              <p>Famous ESTJs: George Washington, Sandra Day O'Connor, Alec Baldwin</p>
              <p><a class="gg-share" href="https://www.facebook.com/sharer/sharer.php?u={{ shop.url | url_escape }}/pages/westward-leaning-recommends" target="_blank">SHARE</a> <a class="gg-shop" href="/products/n-9-color-revolutions-orange-1">SHOP</a></p>
            </section>
          </article>
          <article id="esfj" class="result">
          <img class="result-image col-md-5 col-xs-12" src={{ "OP4.jpg" | asset_url }}>
          <section class="result-description col-md-7 col-xs-12">
            <h3>ESFJ: Op.4 PRIMROSE</h3>
            <p>Unfailingly generous and helpful, you're eager to please and a natural host or hostess. These unexpected grey frames with gold accents are the finishing touch on your summer soiree uniform.</p>
            <p>Famous ESFJs: Martha Stewart, Mary Tyler Moore, Elton John</p>
            <p><a class="gg-share" href="https://www.facebook.com/sharer/sharer.php?u={{ shop.url | url_escape }}/pages/westward-leaning-recommends" target="_blank">SHARE</a> <a class="gg-shop" href="/products/op-4">SHOP</a></p>
          </section>
          </article>
          <article id="enfj" class="result">
            <img class="result-image col-md-5 col-xs-12" src={{ "1_1.jpg" | asset_url }}>
            <section class="result-description col-md-7 col-xs-12">
              <h3>ENFJ: N°1.1 CHILDREN OF CALIFORNIA</h3>
              <p>Motivated by a desire to make the world a better place, you are driven and optimistic. Although all of our sunglasses are inspired by human triumphs, we suggest our original Children of California style due to its celebration of education.</p>
              <p>Famous ENFJs: Oprah, Martin Luther King Jr., Erasmus, Sheryl Sandberg</p>
              <p><a class="gg-share" href="https://www.facebook.com/sharer/sharer.php?u={{ shop.url | url_escape }}/pages/westward-leaning-recommends" target="_blank">SHARE</a> <a class="gg-shop" href="/products/n-1-children-of-california">SHOP</a></p>
            </section>
          </article>
          <article id="entj" class="result">
            <img class="result-image col-md-5 col-xs-12" src={{ "9_9.jpg" | asset_url }}>
            <section class="result-description col-md-7 col-xs-12">
              <h3>ENTJ: N°9.9 COLOR REVOLUTION</h3>
              <p>Ambitious, assertive, and optimistic, you're a true leader. These Color Revolutions with mirrored sunset lenses, with shades of powerful red and regal purple, aren't for the faint of heart and will complete your boardroom/battlefield image.</p>
              <p>Famous ENTJs: Napoleon, Margaret Thatcher, Bill Gates, Quentin Tarantino</p>
              <p><a class="gg-share" href="https://www.facebook.com/sharer/sharer.php?u={{ shop.url | url_escape }}/pages/westward-leaning-recommends" target="_blank">SHARE</a> <a class="gg-shop" href="/products/n-9-9-color-revolution">SHOP</a></p>
            </section>
          </article>
        </div>
      </div>
    </div>
    </div>
  	  {{ page.content }}
  </div>
</div>