<div id='fit' class='fluid-container'>
  <div class='row sizing'>
    <h1>Sizing</h1>
    <p>We built our reputation on universally sized sunglasses that can be <a href='/pages/fit'>adjusted to fit any face</a>. We understand that buying sunglasses online can be difficult. Here we've built a handy guide to the sizing of our different models, with more details on each frame shape below.</p>
    <h3>Frame Size</h3>
    {{ 'sizing_1.png' | asset_url | img_tag: "Sizing chart number one." }}
    <h3>Relative Height &amp; Width</h3>
    {{ 'sizing_2.png' | asset_url | img_tag: "Sizing chart number two." }}
  </div>
  
  <div id='fit-section' class='row dimensions-container'>
    <div class='col-md-6 col-xs-12'>
      <div class='dimensions'>
        <h3>Atlas</h3>
        <p>Overall width: 136mm</p>
        <p>Sizing: 50 - 22 - 145</p>
        {{ 'sizing_atlas.png' | asset_url | img_tag: "Atlas dimensions." }}
      </div>
    </div>
    <div class='col-md-6 col-xs-12'>
      <div class='dimensions'>
        <h3>Concorde</h3>
        <p>Overall width: 138mm</p>
        <p>Sizing: 58 - 14 - 145</p>
        {{ 'sizing_concorde.png' | asset_url | img_tag: "Concorde dimensions." }}
      </div>
    </div>
    <div class='col-md-6 col-xs-12'>
      <div class='dimensions'>
        <h3>Flower</h3>
        <p>Overall width: 140mm</p>
        <p>Sizing: 51 - 24 - 145</p>
        {{ 'sizing_flower.png' | asset_url | img_tag: "Flower dimensions." }}
      </div>
    </div>
    <div class='col-md-6 col-xs-12'>
      <div class='dimensions'>
        <h3>Galileo</h3>
        <p>Overall width: 142mm</p>
        <p>Sizing: 53 - 22 - 140</p>
        {{ 'sizing_galileo.png' | asset_url | img_tag: "Galileo dimensions." }}
      </div>
    </div>
    <div class='col-md-6 col-xs-12'>
      <div class='dimensions'>
        <h3>Pioneer</h3>
        <p>Overall width: 139mm</p>
        <p>Sizing: 53 - 20 - 145</p>
        {{ 'sizing_pioneer.png' | asset_url | img_tag: "Pioneer dimensions." }}
      </div>
    </div>
    <div class='col-md-6 col-xs-12'>
      <div class='dimensions'>
        <h3>Vanguard</h3>
        <p>Overall width: 137mm</p>
        <p>Sizing: 49 - 21 - 140</p>
        {{ 'sizing_vanguard.png' | asset_url | img_tag: "Vanguard dimensions." }}
      </div>
    </div>
    <div class='col-md-6 col-xs-12'>
      <div class='dimensions'>
        <h3>Voyager</h3>
        <p>Overall width: 137mm</p>
        <p>Sizing: 48 - 22 - 145</p>
        {{ 'sizing_voyager.png' | asset_url | img_tag: "Voyager dimensions." }}
      </div>
    </div>
  </div>
</div>