<div id='{{ page.handle }}' class='container'>
  <div class='row'>
        <h1 class='col-md-8 col-md-offset-2 col-xs-12' style='text-align: center'>{{ page.title | upcase }}</h1>
  </div>
  <div class='row'>
    <div class='col-md-8 col-md-offset-2 col-xs-12'>
      <div class='press-box col-md-4 col-xs-12'>
        	{{'press_W.jpg' | asset_url | img_tag: "w" }}
        <p>"the wayfarer style is being made charitable by Westward Leaning’s new designs"</p>
      </div>
      <div class='press-box col-md-4 col-xs-12'> 
        {{ 'press_people.png' | asset_url | img_tag: "People" }}
        <p>"Pretty much everyone in Hollywood owns a pair of this brand's shades"</p>
      </div>
      <div class='press-box col-md-4 col-xs-12'> 
        {{ 'press_bazaar.png' | asset_url | img_tag: "Harper's Bazaar" }}
        <p>"Make a stylish difference...and support educational programs dedicated to social causes that each pair (of sunglasses) represents."</p>
      </div>
      <div class='press-box col-md-4 col-xs-12'> 
        {{ 'press_elle.png' | asset_url | img_tag: "Elle" }}
        <p>"your new favorite sunglasses"</p>
      </div>
      <div class='press-box col-md-4 col-xs-12'> 
        {{ 'press_wwd.png' | asset_url | img_tag: "WWD" }}
        <p>"a modern take on the wayfarer"</p>
      </div>
      <div class='press-box col-md-4 col-xs-12'> 
        {{ 'press_nylon.png' | asset_url | img_tag: "Nylon" }}
        <p>"take time to reflect in the season's hottest shades"</p>
      </div>
       <div class='press-box col-md-4 col-xs-12'>
          {{ 'press_lucky.gif' | asset_url | img_tag: "Lucky" }}
          <p>“frames that’d fit in right by the pool, at the shore—or in the front row of a fashion show”</p>
      </div>
      <div class='press-box col-md-4 col-xs-12'>
        	{{ 'press_interview.jpg' | asset_url | img_tag: "Interview" }}
        <p>"This Spring we would most like to hide behind glasses from Westward Leaning."</p>
      </div>
      <div class='press-box col-md-4 col-xs-12'> 
        {{ 'press_marieclaire.png' | asset_url | img_tag: "Marie Claire" }}
        <p>"a favorite of international fashion editors"</p>
      </div>
      <div class='press-box col-md-4 col-xs-12'> 
        {{ 'press_nymag.png' | asset_url | img_tag: "New York" }}
        <p>"Best bet... perfect for shading your eyes on the street -- or better yet, by the pool."</p>
      </div>
      <div class='press-box col-md-4 col-xs-12'>
        {{ 'press_tmagazine.png' | asset_url | img_tag: "T" }}
        <p>"The Look of the Moment"</p>
      </div>
      <div class='press-box col-md-4 col-xs-12'> 
        {{ 'press_instyle.jpg' | asset_url | img_tag: "InStyle" }}
        <p>"San Francisco sunglasses mavens"</p>
      </div>
      <div class='press-box col-md-4 col-xs-12'>
        {{ 'press_self.jpg' | asset_url | img_tag: "Self" }}
        <p>"Sunglasses that are sporty and stylish"</p>
      </div>
      <div class='press-box col-md-4 col-xs-12'> 
        {{ 'press_newsweek.jpg' | asset_url | img_tag: "Newsweek" }}
        <p>"Great for a trip because they will go with everything in your suitcase"</p>
      </div>
      <div class='press-box col-md-4 col-xs-12'> 
        {{ 'press_vogue.jpg' | asset_url | img_tag: "Vogue" }}
        <p>"We've had our eyes on (or behind, rather) these sunglasses since the San Francisco-based label launched"</p>
      </div>
      <div class='press-box col-md-4 col-xs-12'> 
        {{ 'press_wsj.png' | asset_url | img_tag: "Wall Street Journal" }}
        <p>"petrochemical-free sunglasses...proceeds will go toward the restoration of pollution-damaged areas of the American Southeast"</p>
      </div>
      <div class='press-box col-md-4 col-md-offset-4 col-xs-12'> 
        {{ 'press_nytimes.png' | asset_url | img_tag: "New York Times" }}
        <p>"Sunglasses with iridescent mirrored lenses...work some amazing tricks, the shifting colors picking up those in your ensemble"</p>
      </div>
    </div>
  </div>
</div>