<div id='{{ page.handle }}' class='container'>
  <div class='row'>
    <div class='col-md-offset-2 col-md-8 col-xs-12'>
      <a href="javascript:void(0)" id='about-the-sunglasses-link' class='faq-header-link'>
        {{ 'sunglasses-silhouette.jpg' | asset_url | img_tag: 'Sunglasses Silhouette', 'sg-silhouette' }}
        <h1>About the Sunglasses</h1>
      </a>
      
      <div id="about-the-sunglasses">
      <h2>What are Westward Leaning sunglasses made from?</h2>
      <p>Westward Leaning frames are made from thick sheets of acetate, giving our sunglasses an incredibly substantial feel.</p>
      <p>All of our models use CR-39 plastic lenses, the best lenses in the world.</p>
      <p>Additionally, all of our sunglasses feature Westward Leaning’s signature piece: a unique material embedded into their temples. These materials range from California redwood and aluminum to created coral and blue sea glass.</p>
      
      <h2>Where are Westward Leaning sunglasses made?</h2>
      <p>Our sunglasses are all made by hand in Japan and San Francisco. A team of professional artisans works in our San Francisco offices to integrate neon lenses and all of the unique materials into the frames by hand.</p>
      
      <h2>How can I improve the fit of my sunglasses?</h2>
      <p>Acetate, the material used to craft our frames, is flexible. Gently bend the end of the stems inwards or outwards for a tighter or looser fit as needed.</p>
      {{ 'fit1.png' | asset_url | img_tag: 'Fit Diagram #1', 'fit-diagram' }}
      <p>You can increase the malleability of the frame by heating your sunglasses with a hairdryer. Should you choose to do so, make sure to direct the heat at the end of the stems while avoiding the unique material inlay.</p>
      {{ 'fit2.png' | asset_url | img_tag: 'Fit Diagram #2', 'fit-diagram' }}
      
      <h2>How can I best care for my Westward Leaning sunglasses?</h2>
      <p>We are proud to offer sunglasses made with the best materials and exceptional craftsmanship, and your satisfaction is important to us. We recommend that you store your sunglasses in the provided protective cases at all times when not in use. Rest sunglasses lens-side up to prevent scratching the lenses.</p>
      <p>Additionally, lenses should be cleaned regularly with either a lens cleaner or fresh water and a soft, clean cloth (you will receive such a cloth with your purchase).</p>
      <p>Although Westward Leaning sunglasses are waterproof, we do not recommend submerging our sunglasses in water as this can deteriorate the adhesives used to inlay unique materials. Moreover, we advise against leaving sunglasses exposed in high temperatures, such as in a car in Arizona in July, as acetate can warp.</p>
      
      <h2>What can I do if a screw falls out?</h2>
      <p>Any of your local opticians should be able to replace the screw. Or email us at help@westwardleaning.com and we’ll be happy to fix them for you.</p>
      
      <h2>Can I put prescription lenses in my Westward Leaning sunglasses? How?</h2>
      <p>Yes. Although Westward Leaning does not offer prescription lenses at this time, your optician will be able to fit our sunglasses with your prescription.</p>
      
      <h2>How do I determine which size I should order?</h2>
      <p>Westward Leaning prides itself on its universally flattering shapes: all of our frames have gone through two years of design research to make sure they truly are a great fit for everyone.</p>
      <p>Our Voyager circle model is available in a single size, measuring 48mm by 2mm by 145mm (lens width, nose bridge width and stem length). This makes it a more petite frame than our wayfarer.</p>
      <div class='faq-dimensions voyager'>{{ 'voyager_specs.jpg' | asset_url | img_tag: 'Voyager Dimensions' }}</div>
      <p>Our Classic wayfarer model is available in three sizes: the Standard, the Small and the Large. The Standard size is the optimal fit for 90% of our customers and we offer it for all our models. The Small and the Large, scaled down and up versions of our standard size, respectively, are appropriate for customers who’ve experienced problems with the fit of sunglasses in the past. We offer the Small and the Large in <a href='/products/small-large-size'>select models</a>. For the precise measurements of our sizes, please see below:</p>
      <div class='faq-dimensions'>{{ 'small_specs.jpg' | asset_url | img_tag: 'Small Wayfarer Sunglasses Dimensions' }}</div>
      <div class='faq-dimensions'>{{ 'wayfarer_specs.jpg' | asset_url | img_tag: 'Standard Wayfarer Sunglasses Dimensions' }}</div>
      <div class='faq-dimensions'>{{ 'large_specs.jpg' | asset_url | img_tag: 'Large Wayfarer Sunglasses Dimensions' }}</div>


      
      <h2>What is bridge fit?</h2>
      <p>We designed our bridge fit option, a style with nose pads added at the bridge of our glasses, for customers who found that they needed or wanted a more secure fit. If you find that sunglasses without nose pads typically slide off your nose or rest on your cheeks, we recommend you try a bridge fit style. The nose pads do not alter the appearance of our sunglasses when worn, but they’ll provide a comfortable, secure, and snug fit on all faces. <a href="http://westwardleaning.com/products/asian-bridge-fit-wayfarer">We offer bridge fit in select styles.</a></p>
      
      <h2>What gift card amounts are available?</h2>
      <p>We offer gift cards for $50, $100, $150, and $200. <a href="http://westwardleaning.com/products/gift-card">You can find them here.</a></p>
      {{ 'gift-card-case.jpg' | asset_url | img_tag: 'Gift Card Case', 'gift-card-case' }}
      
      <h2>The pair I want is sold out. How does the waitlist work?</h2>
      <p>If you sign up for a specific pair’s waitlist, you will receive an email letting you know when the style is back in stock.</p>
      
      <h2>Can you help me pick a pair?</h2>
      <p>We love that our sunglasses are universally flattering -— we designed them to look great on everyone, regardless of age, gender, or location. Therefore choosing between pairs depends fully on your personal style.</p>
      <p>If you would like personal advice in selecting a pair, please do not hesitate to email us on <a href='mailto:help@westwardleaning.com'>help@westwardleaning.com</a> and we’d be happy to help. We also offer a few suggestions in our <a href='/pages/westward-leaning-recommends'>gift guide</a> and our <a href='/pages/lookbook'>street style</a>.</p>
      
      <h2>I didn't see my question in this list.</h2>
      <p>Have we missed anything? Please feel free to contact us at <a href='mailto:help@westwardleaning.com'>help@westwardleaning.com</a>.</p>
      </div>
      
      
      <a href="javascript:void(0)" id='shipping-and-exchanges-link' class='faq-header-link'>
      {{ 'shipping-image2.jpg' | asset_url | img_tag: 'Shipping and Exchanges Image', 'shipping-and-exchanges-image' }}
      <h1>About Payment, Shipping, and Exchanges</h1>
      </a>
      
      <div id="shipping-and-exchanges">
      <h2>Where can I buy Westward Leaning sunglasses in my city?</h2>
      <p>The most complete selection of our available styles will always be found on our website. We are privileged to have partnered with incredible retailers around the world that each carry a selection of our collection. Please visit our <a href='/pages/stores'>stores page</a> for a complete list of our retail partners.</p>
      
      <h2>Do I need to create an account in order to place my order?</h2>
      <p>No. At this time we do not offer the ability to create a customer account and so orders are placed as a guest.</p>
      
      <h2>What payment options do you accept?</h2>
      <p>We accept all major credit cards (Visa, Mastercard, and Amex), as well as PayPal.</p>
      
      <h2>Is my payment secure?</h2>
      <p>We take security very seriously and guarantee a secure payment process.</p>
      
      <h2>Can I use my gift card more than once? Can I use more than one gift card at a time?</h2>
      <p>Gift cards are valid for one purchase only, and we only accept one gift card per purchase.</p>
      
      <h2>How long does it take to process an order?</h2>
      <p>Orders placed by 2pm PST, Monday through Friday, will ship that same day. Orders received after 2pm PST, or over the weekend, will be shipped the next business day.</p>
      <p>You will receive a confirmation email after placing your order and a second email upon shipment.</p>
      
      <h2>How can I check the status of my order?</h2>
      <p>You will receive an email after your order has been processed with tracking information for your package.</p>
      
      <h2>Where do you ship?</h2>
      <p>Westward Leaning is pleased to offer shipping worldwide. Please note that we do not ship to PO boxes.</p>
      
      <h2>What types of shipping do you offer? What does shipping cost?</h2>
      <p>We regularly offer discounted shipping options. For domestic (within the United States) orders, we always offer complimentary FedEx ground shipping. Depending on how far away you are from San Francisco, ground shipping will take anywhere between one and five business days. US-based customers may also request overnight shipping at checkout.</p>
      <p>For international orders, shipping costs a $25 flat rate. We ship through FedEx, and orders typically arrive within 3 business days.</p>
      {{ 'shipping-august.jpg' | asset_url | img_tag }}
      
      <h2>Can I expedite my order?</h2>
      <p>Yes, simply select expedited shipping in checkout.</p>
      
      <h2>Why/how much do I have to pay for duties and import taxes on orders shipped outside the US?</h2>
      <p>Many countries levy duties and import taxes on products shipped from other countries. Unfortunately, these customs charges are entirely outside our control and are not calculated at checkout. If such charges apply, FedEx will typically contact you after delivery of your sunglasses.</p>
      <p>For more information on what to expect in terms of import taxes in your country, <a href="http://export.gov/logistics/eg_main_018142.asp">please check here</a>.</p>
      
      <h2>Does Westward Leaning insure packages? Do I have to sign for delivery?</h2>
      <p>Westward Leaning does not insure packages, and no signature is required for delivery.</p>
      
      <h2>Can I change or cancel my order?</h2>
      <p>You can change or cancel your order until 1pm on the day that your package will be shipped.</p>
      
      <h2>How long do I have to make a return?</h2>
      <p>We accept returns within 30 days of your receipt of the sunglasses. Once we’ve received your return, we will credit you a full refund. Return shipping is free for domestic orders.</p>
      
      <h2>Can I exchange my sunglasses for a different pair?</h2>
      <p>Yes. If exchanging a pair for a different pair, we will ship you a new pair as soon as we receive the original pair in our office. To arrange an exchange, please contact help@westwardleaning.com.</p>
      
      <h2>What if I lose or break my sunglasses?</h2>
      <p>We guarantee the craftsmanship of our sunglasses. However, we cannot offer a replacement or exchange for any products that are lost or damaged due to misuse, negligence, or normal wear-and-tear.</p>
      
      <h2>I’ve broken my sunglasses. Can you send me loose screws, lenses, or swatches with which to repair them?</h2>
      <p>We do not ship loose parts, just whole sunglasses. Contact us on <a href='help@westwardleaning.com'>help@westwardleaning.com</a> to learn more.</p>

      <h2>I’m interested in placing a corporate order. Who should I contact?</h2>
      <p>Please reach out to our wholesale team at retailers@westwardleaning.com.</p>
      
      <h2>I didn't see my question in this list.</h2>
      <p>Have we missed anything? Please feel free to contact us at <a href='mailto:help@westwardleaning.com'>help@westwardleaning.com</a>.</p>
      </div>
    </div>
  </div>
</div>