<div id='fit' class='fluid-container'>
  
  <div class='info row'>
    <h1>Adjusting the Fit</h1>
    <p>We built our reputation on universally sized sunglasses that can be customized to fit any face (<a href='/pages/sizing'>learn more about sizing here</a>). While we intentionally ship the glasses sized for comfort, you can achieve a tighter/narrower fit by following the instructions below.</p>
    <p class='centered'><strong>ACETATE FRAMES:</strong> ATLAS, GALILEO, PIONEER, VOYAGER</p>
    <p class='centered'><strong>WIRE-ACETATE COMBINATION FRAMES:</strong> CONCORDE, FLOWER, VANGUARD</p>
  </div>
  
  <h2>Adjusting the Temples</h2>
  <div class='diagram-container row no-gutter'>
    <div class='diagram col-md-4 col-xs-12'>
      {{ 'fit_1.png' | asset_url | img_tag: "1. Use a hairdryer to warm the rear portion of the temple.", "extra-top-padding" }}
      <p>Acetate Frames: Use a hairdryer to warm the rear portion of the temple. Keep away from lenses.</p>
    </div>
    <div class='diagram col-md-4 col-xs-12'>
      {{ 'fit_2.png' | asset_url | img_tag: "Bend only the rear portion of the temple. Do not bend the area near the accent material.", "extra-bottom-padding" }}
      <p>Bend only the indicated portion of the temple. Do not bend the area near the accent material.</p>
    </div>
    <div class='diagram col-md-4 col-xs-12'>
      {{ 'fit_3.png' | asset_url | img_tag: "Temples can be adjusted up to 30&deg;." }}
      <p>Temples can be adjusted up to 30&deg;.</p>
    </div>
  </div>  
  
  <h2>Adjusting the Curvature of the Face</h2>
  <aside>Do Not Adjust Concorde Frames</aside>
  <div class='diagram-container row no-gutter'>
    <div class='diagram col-md-4 col-md-offset-2 col-xs-12'>
      <p>Bend this area only, avoid putting stress on the lenses.</p>
      {{ 'fit_4.jpg' | asset_url | img_tag: "Bend end of stem only. Don’t apply pressure to hinge, lens or swatch.", "hidden-sm hidden-xs" }}
      {{ 'fit_4.png' | asset_url | img_tag: "Bend end of stem only. Don’t apply pressure to hinge, lens or swatch.", "visible-sm visible-xs" }}
    </div>
    <div class='diagram col-md-4 col-xs-12'>
      <p>Nose bridge can be adjusted up to 30&deg;.</p>
      {{ 'fit_5.jpg' | asset_url | img_tag: "Nose bridge can be adjusted up to 30&deg;.", "hidden-sm hidden-xs" }}
      {{ 'fit_5.png' | asset_url | img_tag: "Nose bridge can be adjusted up to 30&deg;.", "visible-sm visible-xs" }}
    </div>
  </div>
</div>