<div id='design' class='container'>
  <div id='design-header-row' class='row'>
    <h1>DESIGN</h1>
    {{ 'all4_fronts.jpg' | asset_url | img_tag: 'All Four Westward Leaning Shapes', 'col-md-8 col-md-offset-2 col-xs-12' }}
    <p class='col-md-8 col-md-offset-2 col-xs-12'>Westward Leaning sunglasses are currently available in four frame shapes. Each one has been thoughtfully designed and is constructed from the best materials available. Learn more about each style below:</p>
  </div>
  
  <div class='row'>
    <hr class='col-md-8 col-md-offset-2 col-xs-12'>
  </div>
  
  <div id='pioneer-row' class='design-frame-shape row'>
    <h2 class='col-lg-4 col-md-3 col-xs-12'>PIONEER</h2>
    <p class='col-xl-8 col-lg-6 col-md-8 col-xs-12 frame-description'>
      Our very first frame shape, Pioneer is our universally flattering interpretation of the classic wayfarer.
    </p>
    <img src='{{ 'design_page_wayfarer_desktop.png' | asset_url }}' alt='Westward Leaning Pioneer Model' class='col-md-12 hidden-sm hidden-xs' usemap='#pioneer-map'>
    <map name='pioneer-map'>
      <area shape='rect' coords='0, 0, 760, 840' data-toggle='modal' data-target='#pioneer-unique-materials' alt='Pioneer Unique Materials'>
      <area shape='rect' coords='760, 0, 1290, 840' data-toggle='modal' data-target='#pioneer-sizing' alt='Pioneer Sizing'>
      <area shape='rect' coords='1290, 0, 1920, 840' data-toggle='modal' data-target='#pioneer-lenses' alt='Pioneer Lenses'>
    </map>
    {{ 'design_page_wayfarer_mobile.png' | asset_url | img_tag: 'Westward Leaning Pioneer Model', 'col-xs-12 hidden-md hidden-lg hidden-xl' }}
    <ol class='col-xs-12 visible-xs visible-sm'>
      <li>Unique Material: All of our sunglasses celebrate moments of human achievement and feature a unique material &mdash; from wood and aluminum to mother of pearl and created coral &mdash; on their temples that is specific to that achievement.</li>
      <li>Sizing: The exact measurements of a Westward Leaning wayfarer, 53-24-143mm, were chosen to be universally-flattering.</li>
      <li>Lenses: All of our sunglasses feature CR39 plastic lenses, the best plastic lenses in the world. Our lenses undergo the most rigorous quality checks in the industry.</li>
    </ol>
    <div class='row frame-popups'>
      <div id='pioneer-unique-materials' class='modal' role='dialog' aria-labelledby='pioneer-unique-materials-label' aria-hidden='true' tabindex='-1'>
        <div class='modal-dialog'>
          <div class='modal-body concept-modal'>
            <button type='button' class='close' data-dismiss='modal' aria-hidden='true'>&times;</button>
            <h2>UNIQUE MATERIAL</h2>
            <p>All of our sunglasses celebrate moments of human achievement and feature a unique material &mdash; from wood and aluminum to mother of pearl and created coral &mdash; on their temples that is specific to that achievement.</p>
          </div>
        </div>
      </div>
      <div id='pioneer-sizing' class='modal' role='dialog' aria-labelledby='pioneer-sizing-label' aria-hidden='true' tabindex='-1'>
        <div class='modal-dialog'>
          <div class='modal-body concept-modal'>
            <button type='button' class='close' data-dismiss='modal' aria-hidden='true'>&times;</button>
            <h2>SIZING</h2>
            <p>The exact measurements of a Westward Leaning wayfarer, 53-24-143mm, were chosen to be universally-flattering.</p>
          </div>
        </div>
      </div>
      <div id='pioneer-lenses' class='modal' role='dialog' aria-labelledby='pioneer-lenses-label' aria-hidden='true' tabindex='-1'>
        <div class='modal-dialog'>
          <div class='modal-body concept-modal'>
            <button type='button' class='close' data-dismiss='modal' aria-hidden='true'>&times;</button>
            <h2>LENSES</h2>
            <p>All of our sunglasses feature CR39 plastic lenses, the best plastic lenses in the world. Our lenses undergo the most rigorous quality checks in the industry.</p>
          </div>
        </div>
      </div>
    </div>
    <p class='col-xs-12 col-md-6 col-md-offset-3'>All Westward Leaning wayfarers are available in our standard size, carefully designed to be universally flattering for all male and female face shapes. However, a small portion of our customers prefer a smaller or a larger size than our standard fit. Therefore we added a scaled down version (the Small) and a scaled up version (the Large) to our collection, available in select styles.</p>
    <h3 class='col-md-12'>BRIDGE FIT</h3>
    {{ 'bridgefit.jpg' | asset_url | img_tag: 'Bridge Fit Westward Leaning Sunglasses', 'col-xs-12 col-md-6 col-md-offset-3' }}
    <p class='col-xs-12 col-md-6 col-md-offset-3'>To further broaden the universality of our classic frame we designed Bridge Fit for everyone who wants a more secure fit over their nose bridge. Bridge Fit is identical to our classic Wayfarer frame with the exception of the added nose pads, which emulate the solid fit of an aviator.</p>
  </div>
  
  <div class='row'>
    <hr class='col-md-8 col-md-offset-2 col-xs-12'>
  </div>
  
  <div id='voyager-row' class='design-frame-shape row'>
    <h2 class='col-lg-4 col-md-3 col-xs-12'>VOYAGER</h2>
    <p class='col-xl-8 col-lg-6 col-md-8 col-xs-12 frame-description'>
      Both the round shape and universal fit of our Voyager frame is inspired by the Golden Record carried on all Voyager spacecraft.
    </p>
    <img src='{{ 'design_page_voyager_desktop.png' | asset_url }}' alt='Westward Leaning Voyager Model' class='col-md-12 hidden-sm hidden-xs' usemap='#voyager-map'>
    <map name='voyager-map'>
      <area shape='rect' coords='0, 0, 760, 840' data-toggle='modal' data-target='#voyager-unique-materials' alt='Voyager Unique Materials'>
      <area shape='rect' coords='760, 0, 1290, 840' data-toggle='modal' data-target='#voyager-sizing' alt='Voyager Sizing'>
      <area shape='rect' coords='1290, 0, 1920, 840' data-toggle='modal' data-target='#voyager-lenses' alt='Voyager Lenses'>
    </map>
    {{ 'design_page_voyager_mobile.png' | asset_url | img_tag: 'Westward Leaning Voyager Model', 'col-md-12 hidden-md hidden-lg hidden-xl' }}
    <ol class='col-xs-12 visible-xs visible-sm'>
      <li>Unique Material: All of our sunglasses celebrate moments of human achievement and feature a unique material &mdash; from redwood and jade to blue sea glass and mother of pearl &mdash; on their temples that is specific to that achievement.</li>
      <li>Sizing: The exact measurements of a Westward Leaning Voyager frame are 48-22-145mm, designed over the course of two years to be a great fit for all face shapes and sizes.</li>
      <li>Lenses: All of our Voyager sunglasses feature CR39 plastic lenses, the best plastic lenses in the world. Our lenses undergo the most rigorous quality checks in the industry.</li>
    </ol>
    <div class='row frame-popups'>
      <div id='voyager-unique-materials' class='modal' role='dialog' aria-labelledby='voyager-unique-materials-label' aria-hidden='true' tabindex='-1'>
        <div class='modal-dialog'>
          <div class='modal-body concept-modal'>
            <button type='button' class='close' data-dismiss='modal' aria-hidden='true'>&times;</button>
            <h2>UNIQUE MATERIAL</h2>
            <p>All of our sunglasses celebrate moments of human achievement and feature a unique material &mdash; from redwood and jade to blue sea glass and mother of pearl &mdash; on their temples that is specific to that achievement.</p>
          </div>
        </div>
      </div>
      <div id='voyager-sizing' class='modal' role='dialog' aria-labelledby='voyager-sizing-label' aria-hidden='true' tabindex='-1'>
        <div class='modal-dialog'>
          <div class='modal-body concept-modal'>
            <button type='button' class='close' data-dismiss='modal' aria-hidden='true'>&times;</button>
            <h2>SIZING</h2>
            <p>The exact measurements of a Westward Leaning Voyager frame are 48-22-145mm, designed over the course of two years to be a great fit for all face shapes and sizes.</p>
          </div>
        </div>
      </div>
      <div id='voyager-lenses' class='modal' role='dialog' aria-labelledby='voyager-lenses-label' aria-hidden='true' tabindex='-1'>
        <div class='modal-dialog'>
          <div class='modal-body concept-modal'>
            <button type='button' class='close' data-dismiss='modal' aria-hidden='true'>&times;</button>
            <h2>LENSES</h2>
            <p>All of our Voyager sunglasses feature CR39 plastic lenses, the best plastic lenses in the world. Our lenses undergo the most rigorous quality checks in the industry.</p>
          </div>
        </div>
      </div>
    </div>
  </div>
  
  <div class='row'>
    <hr class='col-md-8 col-md-offset-2 col-xs-12'>
  </div>
  
  <div id='vanguard-row' class='design-frame-shape row'>
    <h2 class='col-lg-4 col-md-3 col-xs-12'>VANGUARD</h2>
    <p class='col-xl-8 col-lg-6 col-md-8 col-xs-12 frame-description'>
      Project Vanguard is a modern take on the classic half-frame shape featuring a mixed-material frame of metal and acetate.
    </p>
    <img src='{{ 'design_page_vanguard_desktop.png' | asset_url }}' alt='Westward Leaning Vanguard Model' class='col-md-12 hidden-sm hidden-xs' usemap='#vanguard-map'>
    <map name='vanguard-map'>
      <area shape='rect' coords='0, 0, 760, 840' data-toggle='modal' data-target='#vanguard-mixed-materials' alt='Vanguard Mixed Material Frame'>
      <area shape='rect' coords='760, 0, 1290, 840' data-toggle='modal' data-target='#vanguard-nose-pads' alt='Vanguard Nose Pads'>
      <area shape='rect' coords='1290, 0, 1920, 840' data-toggle='modal' data-target='#vanguard-lenses' alt='Vanguard Lenses'>
    </map>
    {{ 'design_page_vanguard_mobile.png' | asset_url | img_tag: 'Westward Leaning Vanguard Model', 'col-md-12 hidden-md hidden-lg hidden-xl' }}
    <ol class='col-xs-12 visible-xs visible-sm'>
      <li>Mixed Material Frame: The combination of acetate and metal gives this frame an incredible balance of strength and flexibility, for an extremely comfortable fit.</li>
      <li>Nose Pads &amp; Sizing: Vanguard glasses feature either hypo-allergenic titanium nosepads or unique silicone nosepads in green or red. The exact measurements of a Westward Leaning Vanguard frame are 49-21-140 mm. </li>
      <li>Lenses: All of our Vanguard sunglasses feature CR39 plastic lenses, the best plastic lenses in the world. Our lenses undergo the most rigorous quality checks in the industry.</li>
    </ol>
    <div class='row frame-popups'>
      <div id='vanguard-mixed-materials' class='modal' role='dialog' aria-labelledby='vanguard-mixed-materials-label' aria-hidden='true' tabindex='-1'>
        <div class='modal-dialog'>
          <div class='modal-body concept-modal'>
            <button type='button' class='close' data-dismiss='modal' aria-hidden='true'>&times;</button>
            <h2>MIXED MATERIAL FRAME</h2>
            <p>The combination of acetate and metal gives this frame an incredible balance of strength and flexibility, for an extremely comfortable fit.</p>
          </div>
        </div>
      </div>
      <div id='vanguard-nose-pads' class='modal' role='dialog' aria-labelledby='vanguard-nose-pads-label' aria-hidden='true' tabindex='-1'>
        <div class='modal-dialog'>
          <div class='modal-body concept-modal'>
            <button type='button' class='close' data-dismiss='modal' aria-hidden='true'>&times;</button>
            <h2>NOSE PADS &amp; SIZING</h2>
            <p>Vanguard glasses feature either hypo-allergenic titanium nosepads or unique silicone nosepads in green or red. The exact measurements of a Westward Leaning Vanguard frame are 49-21-140 mm.</p>
          </div>
        </div>
      </div>
      <div id='vanguard-lenses' class='modal' role='dialog' aria-labelledby='vanguard-lenses-label' aria-hidden='true' tabindex='-1'>
        <div class='modal-dialog'>
          <div class='modal-body concept-modal'>
            <button type='button' class='close' data-dismiss='modal' aria-hidden='true'>&times;</button>
            <h2>LENSES</h2>
            <p>All of our Vanguard sunglasses feature CR39 plastic lenses, the best plastic lenses in the world. Our lenses undergo the most rigorous quality checks in the industry.</p>
          </div>
        </div>
      </div>
    </div>
  </div>
  
  <div class='row'>
    <hr class='col-md-8 col-md-offset-2 col-xs-12'>
  </div>
  
  <div id='concorde-row' class='design-frame-shape row'>
    <h2 class='col-lg-4 col-md-3 col-xs-12'>CONCORDE</h2>
    <p class='col-xl-8 col-lg-6 col-md-8 col-xs-12 frame-description'>
      Concorde is our version of the aviator, or “pilot’s glasses,” and features a mixed-material frame of metal and acetate.
    </p>
    <img src='{{ 'design_page_concorde_desktop.png' | asset_url }}' alt='Westward Leaning Concorde Model' class='col-md-12 hidden-sm hidden-xs' usemap='#concorde-map'>
    <map name='concorde-map'>
      <area shape='rect' coords='0, 0, 760, 840' data-toggle='modal' data-target='#concorde-mixed-materials' alt='Concorde Mixed Material Frame'>
      <area shape='rect' coords='760, 0, 1290, 840' data-toggle='modal' data-target='#concorde-nose-pads' alt='Concorde Nose Pads'>
      <area shape='rect' coords='1290, 0, 1920, 840' data-toggle='modal' data-target='#concorde-lenses' alt='Concorde Lenses'>
    </map>
    {{ 'design_page_concorde_mobile.png' | asset_url | img_tag: 'Westward Leaning Concorde Model', 'col-md-12 hidden-md hidden-lg hidden-xl' }}
    <ol class='col-xs-12 visible-xs visible-sm'>
      <li>Mixed Material Frame: The combination of acetate and metal gives this frame an incredible balance of strength and flexibility, for an extremely comfortable fit.</li>
      <li>Nose Pads &amp; Sizing: All Concorde glasses feature durable, hypo-allergenic ceramic nosepads, in a variety of colors. The exact measurements of a Westward Leaning Concorde frame are 58-14-145 mm.</li>
      <li>Lenses: All of our Concorde sunglasses feature CR39 plastic lenses, the best plastic lenses in the world. Our lenses undergo the most rigorous quality checks in the industry.</li>
    </ol>
    <div class='row frame-popups'>
      <div id='concorde-mixed-materials' class='modal' role='dialog' aria-labelledby='concorde-mixed-materials-label' aria-hidden='true' tabindex='-1'>
        <div class='modal-dialog'>
          <div class='modal-body concept-modal'>
            <button type='button' class='close' data-dismiss='modal' aria-hidden='true'>&times;</button>
            <h2>MIXED MATERIAL FRAME</h2>
            <p>The combination of acetate and metal gives this frame an incredible balance of strength and flexibility, for an extremely comfortable fit.</p>
          </div>
        </div>
      </div>
      <div id='concorde-nose-pads' class='modal' role='dialog' aria-labelledby='concorde-nose-pads-label' aria-hidden='true' tabindex='-1'>
        <div class='modal-dialog'>
          <div class='modal-body concept-modal'>
            <button type='button' class='close' data-dismiss='modal' aria-hidden='true'>&times;</button>
            <h2>NOSE PADS &amp; SIZING</h2>
            <p>All Concorde glasses feature durable, hypo-allergenic ceramic nosepads, in a variety of colors. The exact measurements of a Westward Leaning Concorde frame are 58-14-145 mm.</p>
          </div>
        </div>
      </div>
      <div id='concorde-lenses' class='modal' role='dialog' aria-labelledby='concorde-lenses-label' aria-hidden='true' tabindex='-1'>
        <div class='modal-dialog'>
          <div class='modal-body concept-modal'>
            <button type='button' class='close' data-dismiss='modal' aria-hidden='true'>&times;</button>
            <h2>LENSES</h2>
            <p>All of our Concorde sunglasses feature CR39 plastic lenses, the best plastic lenses in the world. Our lenses undergo the most rigorous quality checks in the industry.</p>
          </div>
        </div>
      </div>
    </div>
  </div>
  
  <div class='row'>
    <hr class='col-md-8 col-md-offset-2 col-xs-12'>
  </div>
  
  <div id='cases-row' class='design-frame-shape row'>
    <h2 class='col-lg-4 col-md-3 col-xs-12'>CASES</h2>
    <p class='col-xl-8 col-lg-6 col-md-8 col-xs-12 frame-description'>
      In addition to a traditional large and durable clamshell outer case, our sunglasses come with a custom-designed and compact protective sleeve. By popular demand we made this pocket-sized case available for purchase on its own.
    </p>
    {{ 'cases.png' | asset_url | img_tag: 'Westward Leaning Cases', 'col-md-12' }}
  </div>
</div>