<div id='gift-guide' class='fluid-container'>
  <div id='collection-banner' class='large'></div>
  <div class='row'>
    <div id='mobile-banner' class='col-xs-12 visible-sm visible-xs'>
      <a href='#pioneer-1'>
      {{ 'holiday-mobile-banner.jpg' | asset_url | img_tag: "Holiday Gift Guide 2015" }}
      </a>
    </div>
  </div>
  <div class='row products'>
    <div id='pioneer-1' class='col-md-4 col-xs-12'>
      <a href='/products/pioneer-1'>
        {{ 'pioneer-1.jpg' | asset_url | img_tag: 'Pioneer 1' }}
        <h3>Pioneer 1</h3>
        <p>Age: 50+</p>
      </a>
    </div>
    <div class='col-md-4 col-xs-12'>
      <a href='/products/vanguard-11'>
        {{ 'vanguard-11.jpg' | asset_url | img_tag: 'Vanguard 11' }}
        <h3>Vanguard 11</h3>
        <p>Age: 18-25</p>
      </a>
    </div>
    <div class='col-md-4 hidden-sm hidden-xs'>
      {{ 'holiday-snowflake-1.png' | asset_url | img_tag: 'Snowflake', 'snowflake' }}
    </div>
  </div>
  <div class='row products'>
    <div class='col-md-4 hidden-sm hidden-xs'>
      {{ 'holiday-snowflake-2.png' | asset_url | img_tag: 'Snowflake', 'snowflake' }}
    </div>
    <div class='col-md-4 col-xs-12'>
      <a href='/products/flower-1'>
        {{ 'flower-1.jpg' | asset_url | img_tag: 'Flower 1' }}
        <h3>Flower 1</h3>
        <p>Age: 25-30</p>
      </a>
    </div>
    <div class='col-md-4 col-xs-12'>
      <a href='/products/voyager-6'>
        {{ 'voyager-6.jpg' | asset_url | img_tag: 'Voyager 6' }}
        <h3>Voyager 6</h3>
        <p>Age: 35-40</p>
      </a>
    </div>
  </div>
  <div class='row products'>
    <div class='col-md-4 col-xs-12'>
      <a href='/products/voyager-9'>
        {{ 'voyager-9.jpg' | asset_url | img_tag: 'Voyager 9' }}
        <h3>Voyager 9</h3>
        <p>Age: 40-50</p>
      </a>
    </div>
    <div class='col-md-4 hidden-sm hidden-xs'>
      {{ 'holiday-snowflake-3.png' | asset_url | img_tag: 'Snowflake', 'snowflake' }}
    </div>
    <div class='col-md-4 col-xs-12'>
      <a href='/products/flower-7'>
        {{ 'flower-7.jpg' | asset_url | img_tag: 'Flower 7' }}
        <h3>Flower 7</h3>
        <p>Age: 18 and Under</p>
      </a>
    </div>
  </div>
  <div class='row'>
    <div class='col-md-12'>
      {{ 'holiday-string-ornaments.jpg' | asset_url | img_tag: 'Holiday Ornaments' }}
    </div>
  </div>
  <div class='row'>
    <div class='col-md-12 hidden-sm hidden-xs'>
      <a href='/products/gift-card'>
      {{ 'holiday-classic-one-line.jpg' | asset_url | img_tag: "Special Edition gift wrap. All packaging is done by hand in our San Francisco studio. Select at checkout." }}
      </a>
    </div>
    <div class='col-xs-12 visible-sm visible-xs'>
      {{ 'holiday-gift-card-text-2015-white.jpg' | asset_url | img_tag: "Don't know what to gift? Let them pick their pair." }}
    </div>
    <div class='col-xs-12 visible-sm visible-xs'>
      <a href='/products/gift-card'>
      {{ 'holiday-gift-card-2015.jpg' | asset_url | img_tag: "Shop gift cards." }}
      </a>
    </div>
  </div>
  <div class='row'>
    <div class='col-md-5 col-xs-12'>
      {{ 'holiday-special-edition.png' | asset_url | img_tag: "Special Edition gift wrap. All packaging is done by hand in our San Francisco studio. Select at checkout." }}
    </div>
    <div class='col-md-7 col-xs-12'>
      {{ 'holiday-gift-box-2015.jpg' | asset_url | img_tag: "Holiday gift wrap." }}
    </div>
  </div>
  <div class='row'>
    <div class='col-md-12'>
      <p class='traditional-gift-wrap-message'>We are also offering our traditional gift wrapping this season!</p>
    </div>
  </div>
  <div id='classic-gift-wrap' class='row'>
    <div class='col-md-4 col-xs-12'>
      {{ '2waves.jpg' | asset_url | img_tag: "Classic waves gift wrap design." }}
    </div>
    <div class='col-md-4 col-xs-12'>
      {{ '2clouds.jpg' | asset_url | img_tag: "Classic clouds gift wrap design." }}
    </div>
    <div class='col-md-4 col-xs-12'>
      {{ '2mountain.jpg' | asset_url | img_tag: "Classic mountain gift wrap design." }}
    </div>
  </div>
  <div class='row'>
    <div class='col-xs-12'>
      <a href='/collections/new-releases'>
      {{ 'holiday-new-release-button.png' | asset_url | img_tag: 'Shop new releases.', 'shop-new' }}
      </a>
    </div>
  </div>
</div>