<div id='introducing-voyager' class='container'>
  
  <div class="spinner">
    <div class="dot1"></div>
    <div class="dot2"></div>
  </div>
  
  <div id='content' class='hidden'>
  <div class='row'>
    <div class='col-md-10 col-md-offset-1 col-xs-12'>
      <a href='/collections/circle'>{{ 'voyagerpage_header.jpg' | asset_url | img_tag }}</a>
    </div>
  </div>
  <div class='row'>
    <div class='col-md-10 col-md-offset-1 col-xs-12'>
      <a href='/collections/circle'>{{ 'voyager_inspiration_banner.jpg' | asset_url | img_tag }}</a>
    </div>
  </div>
  <div class='row'>
    <div class='col-md-10 col-md-offset-1 col-xs-12'>
      <div class='inspiration'>
        <p>The Voyager 1 and Voyager 2 space probes were launched by NASA in 1977 to study the planetary systems of Jupiter and Saturn.  In 2012, the Voyager 1 craft became the first human-made object to enter interstellar space, traveling further than anyone, or anything, in history.</p>
        <p>Before NASA launched Voyager 1, Carl Sagan and a U.N. team were tasked with creating a “Golden Record” to be included in the spacecraft’s payload. The final product contains musical recordings, spoken greetings in 55 languages, and the voice of Carl Sagan’s own son saying, “Hello from the children of Planet Earth.” </p>
        <p>Relative to the vastness of space, the Golden Record is tiny, and even the team who built it acknowledge it is unlikely to be found. Rather, the intent is inspirational, not practical, as Carl Sagan noted: “The spacecraft will be encountered and the record played only if there are advanced spacefaring civilizations in interstellar space. But the launching of this bottle into the cosmic ocean says something very hopeful about life on this planet.”</p>
      </div>
    </div>
  </div>
  <div class='row'>
    <div class='col-md-10 col-md-offset-1 col-xs-12'>
      <a href='/collections/circle'>{{ '3x_dark.jpg' | asset_url | img_tag }}</a>
    </div>
  </div>
  <div class='row'>
    <div class='col-md-8 col-md-offset-2 col-xs-12'>
      <a href='/collections/circle'>{{ 'both_title.jpg' | asset_url | img_tag }}</a>
    </div>
  </div>
  <div class='row'>
    <div class='col-md-8 col-md-offset-2 col-xs-12'>
      <div class='shape'>
        <p>&ldquo;Our new circular frame mirrors the shape of the Golden Record, but our tribute goes beyond the literal. Like our wayfarer, our circle frame has mass appeal. That is, we designed the frame’s shape and fit to be as inclusive as possible, much in the way the Golden Record tries to reflect the vast diversity of life on Earth.&rdquo;</p>
        <p>&ldquo;After two years of prototyping, we feel confident that Voyager &lsquo;best flatters the most people.&rsquo; The non-gendered design is appropriate for all demographic cohorts, and the frame tones were chosen with all ethnicities in mind. With Voyager, we haven’t changed our position on offering customers a universal frame – we just now offer one that is round.&rdquo; – Robert Denning, Creative Director</p>
      </div>
    </div>
  </div>
  <div class='row'>
    <div class='col-md-10 col-md-offset-1 col-xs-12'>
      <a href='/collections/circle'>{{ 'timeline.jpg' | asset_url | img_tag }}</a>
    </div>
  </div>
  <div class='row'>
    <div class='col-md-10 col-md-offset-1 col-xs-12'>
      <h1 class='full-range'>A FULL RANGE OF COLORS AND LEGENDARY WESTWARD LEANING CRAFTSMANSHIP</h1>
    </div>
  </div>
  <div class='row'>
    <div class='col-md-10 col-md-offset-1 col-xs-12'>
      <a href='/collections/circle'>{{ 'voyager_multi.jpg' | asset_url | img_tag }}</a>
    </div>
  </div>
  <div class='row'>
    <div class='col-md-10 col-md-offset-1 col-xs-12'>
      <a href='/collections/circle'><h1 class='the-collection'>THE COLLECTION</h1></a>
    </div>
  </div>
  <div class='row'>
    <div class='col-md-10 col-md-offset-1 col-xs-12'>
      <a href='/collections/circle'>{{ 'voyager_models_captioned.jpg' | asset_url | img_tag }}</a>
    </div>
  </div>
  </div>
</div>