<div id='concept' class='container'>
  <div class='row'>
    <h1 style='text-align: center'>OUR DESIGN</h1>
  </div>
  <div class='row'>
    <aside class='subtitle'>
      WE DESIGN OUR SUNGLASSES TO BE UNIVERSALLY FLATTERING FOR MEN AND WOMEN.
    </aside>
    <aside class='subtitle'>
      WE ARE COMMITTED TO HIGH-QUALITY CRAFTSMANSHIP AND LUXE MATERIALS.
    </aside>
  </div>
  <div class='row'>
    <div class='col-md-6'>
      <img src='{{ 'concept_voyager.jpg' | asset_url }}' alt='Westward Leaning Circle Sunglasses' class='hidden-sm hidden-xs buttons-image' usemap='#voyager-map'>
    </div>
    <div class='col-md-6'>
      <img src='{{ 'concept_wayfarer.jpg' | asset_url }}' alt='Westward Leaning Redwood Sunglasses' class='hidden-sm hidden-xs buttons-image' usemap='#concept-map'>
    </div>
    <map name='concept-map'>
      <area shape='circle' coords='130, 241, 48' data-toggle='modal' data-target='#lenses' alt='Lenses'>
      <area shape='circle' coords='275, 238, 51' data-toggle='modal' data-target='#sizing' alt='Sizing'>
      <area shape='circle' coords='731, 282, 49' data-toggle='modal' data-target='#unique-materials' alt='Unique Materials'>
    </map>
    <map name="voyager-map">
      <area shape="circle" coords="937, 253, 80" data-toggle='modal' data-target='#circle-lenses' alt='Circle Lenses' >
      <area shape="circle" coords="726, 226, 79" data-toggle='modal' data-target='#circle-sizing' alt='Circle Sizing' >
      <area shape="circle" coords="300, 253, 71" data-toggle='modal' data-target='#circle-unique-materials' alt='Circle Unique Materials' >
    </map>
  </div>
  {{ 'wayfarer-front.jpg' | asset_url | img_tag: 'Westward Leaning Wayfarer', 'visible-xs visible-sm' }}
  {{ 'voyager-front.jpg' | asset_url | img_tag: 'Westward Leaning Circle', 'visible-xs visible-sm' }}
  <div class='row'>
    <div id='unique-materials' class='modal' role='dialog' aria-labelledby='unique-materials-label' aria-hidden='true' tabindex='-1'>
      <div class='modal-dialog'>
        <div class='modal-body concept-modal'>
          <button type='button' class='close' data-dismiss='modal' aria-hidden='true'>&times;</button>
          <h2>{{ pages.popup-unique-materials.title | remove: 'Popup ' | upcase }}</h2>
          <p>{{ pages.popup-unique-materials.content | strip_html }}</p>
        </div>
      </div>
    </div>
    <div id='sizing' class='modal' role='dialog' aria-labelledby='sizing-label' aria-hidden='true' tabindex='-1'>
      <div class='modal-dialog'>
        <div class='modal-body concept-modal'>
          <button type='button' class='close' data-dismiss='modal' aria-hidden='true'>&times;</button>
          <h2>{{ pages.popup-sizing.title | remove: 'Popup ' | upcase }}</h2>
          <p>{{ pages.popup-sizing.content | strip_html }}</p>
        </div>
      </div>
    </div>
    <div id='lenses' class='modal' role='dialog' aria-labelledby='lenses-label' aria-hidden='true' tabindex='-1'>
      <div class='modal-dialog'>
        <div class='modal-body concept-modal'>
          <button type='button' class='close' data-dismiss='modal' aria-hidden='true'>&times;</button>
          <h2>{{ pages.popup-lenses.title | remove: 'Popup ' | upcase }}</h2>
          <p>{{ pages.popup-lenses.content | strip_html }}</p>
        </div>
      </div>
    </div>
  </div>
  <div class='row'>
    <div id='circle-unique-materials' class='modal' role='dialog' aria-labelledby='circle-unique-materials-label' aria-hidden='true' tabindex='-1'>
      <div class='modal-dialog'>
        <div class='modal-body concept-modal'>
          <button type='button' class='close' data-dismiss='modal' aria-hidden='true'>&times;</button>
          <h2>UNIQUE MATERIALS</h2>
          <p>All of our sunglasses celebrate moments of human achievement and feature a unique material -- from redwood to jade to blue sea glass and mother of pearl -- on their temples that is specific to that achievement. </p>
        </div>
      </div>
    </div>
    <div id='circle-sizing' class='modal' role='dialog' aria-labelledby='circle-sizing-label' aria-hidden='true' tabindex='-1'>
      <div class='modal-dialog'>
        <div class='modal-body concept-modal'>
          <button type='button' class='close' data-dismiss='modal' aria-hidden='true'>&times;</button>
          <h2>SIZING</h2>
          <p>The exact measurements of a Westward Leaning Voyager frame are 48-22-145mm, designed over the course of two years to be a great fit for all face shapes and sizes. </p>
        </div>
      </div>
    </div>
    <div id='circle-lenses' class='modal' role='dialog' aria-labelledby='circle-lenses-label' aria-hidden='true' tabindex='-1'>
      <div class='modal-dialog'>
        <div class='modal-body concept-modal'>
          <button type='button' class='close' data-dismiss='modal' aria-hidden='true'>&times;</button>
          <h2>LENSES</h2>
          <p>All our Voyager circle frames use CR39 plastic lenses, the best plastic lenses in the world. Our lenses undergo the most rigorous quality checks in the industry.</p>
        </div>
      </div>
    </div>
  </div>
  <h2>UNIQUE MATERIALS <span class='concept-link'><a href='/pages/our-story'>THE CONCEPT BEHIND OUR BRAND</a></span></h2>
  <div class='row'>
    <div class='col-xs-12 col-md-offset-1 col-md-10'>
      <div id='circle-materials-gallery'>
        <div id='circle-materials-left-arrow' class='col-md-2 hidden-sm hidden-xs gallery-arrow left'>
          {{ 'arrow_light_left.jpg' | asset_url | img_tag: 'Cycle Left', 'light-arrow' }}
          {{ 'arrow_dark_left.jpg' | asset_url | img_tag: 'Cycle Left', 'dark-arrow' }}
        </div>
        <div id='circle-materials-gallery-images' class='col-md-8 col-xs-12 gallery-images'>
          <div class='gallery-item active first'>
            {{ 'VOYAGER_GALLERY_1.jpg' | asset_url | img_tag: 'Voyager 1 - Bronze' }}
            <h4>BRONZE</h4>
            <p>is used in our <a href='/products/voyager-v1-gold-mirror-bronze-circle'>VOYAGER 1</a> and <a href='/products/voyager-v8-bronze-circle'>VOYAGER 8</a> models.</p>
          </div>
          <div class='gallery-item'>
            {{ 'VOYAGER_GALLERY_2.jpg' | asset_url | img_tag: 'Voyager 2 - Polished Aluminum' }}
            <h4>POLISHED ALUMINUM</h4>
            <p>is used in our <a href='/products/voyager-v2-super-silver-mirror-polished-aluminum-circle'>VOYAGER 2</a> and <a href='/products/voyager-v15-emerald-mirror-polished-aluminum-circle'>VOYAGER 15</a> models.</p>
          </div>
          <div class='gallery-item'>
            {{ 'VOYAGER_GALLERY_3.jpg' | asset_url | img_tag: 'Voyager 9 - Redwood' }}
            <h4>REDWOOD</h4>
            <p>is used in our <a href='/products/voyager-v3-infrared-mirror-redwood-circle'>VOYAGER 3</a>, <a href='/products/voyager-v9-super-silver-mirror-redwood-circle'>VOYAGER 9</a>, and <a href='/products/voyager-v16-blackened-redwood-circle'>VOYAGER 16</a> models.</p>
          </div>
          <div class='gallery-item'>
            {{ 'VOYAGER_GALLERY_4.jpg' | asset_url | img_tag: 'Voyager 4 - Black Marble' }}
            <h4>BLACK MARBLE</h4>
            <p>is used in our <a href='/products/voyager-v4-black-marble-circle'>VOYAGER 4</a> and <a href='/products/voyager-v5-super-silver-mirror-black-marble-circle'>VOYAGER 5</a> models.</p>
          </div>
          <div class='gallery-item'>
            {{ 'VOYAGER_GALLERY_5.jpg' | asset_url | img_tag: 'Voyager 6 - Tahoe Blue' }}
            <h4>TAHOE BLUE</h4>
            <p>is used in our <a href='/products/voyager-v6-rose-gold-mirror-tahoe-blue-circle'>VOYAGER 6</a> model.</p>
          </div>
          <div class='gallery-item'>
            {{ 'VOYAGER_GALLERY_6.jpg' | asset_url | img_tag: 'Voyager 13 - Onyx' }}
            <h4>ONYX</h4>
            <p>is used in our <a href='/products/voyager-v7-midnight-mirror-onyx-circle'>VOYAGER 7</a> and <a href='/products/voyager-v13-red-mirror-onyx-circle'>VOYAGER 13</a> models.</p>
          </div>
          <div class='gallery-item'>
            {{ 'VOYAGER_GALLERY_7.jpg' | asset_url | img_tag: 'Voyager 10 - Blue Sea Glass' }}
            <h4>BLUE SEA GLASS</h4>
            <p>is used in our <a href='/products/voyager-v10-emerald-mirror-blue-sea-glass-circle'>VOYAGER 10</a> model.</p>
          </div>
          <div class='gallery-item'>
            {{ 'VOYAGER_GALLERY_8.jpg' | asset_url | img_tag: 'Voyager 11 - Jade' }}
            <h4>JADE</h4>
            <p>is used in our <a href='/products/voyager-v11-midnight-mirror-jade-circle'>VOYAGER 11</a> model.</p>
          </div>
          <div class='gallery-item'>
            {{ 'VOYAGER_GALLERY_9.jpg' | asset_url | img_tag: 'Voyager 12 - Mother of Pearl' }}
            <h4>MOTHER OF PEARL</h4>
            <p>is used in our <a href='/products/voyager-v12-mother-of-pearl-circle'>VOYAGER 12</a> model.</p>
          </div>
          <div class='gallery-item last'>
            {{ 'VOYAGER_GALLERY_10.jpg' | asset_url | img_tag: 'Voyager 14 - Titanium' }}
            <h4>TITANIUM</h4>
            <p>is used in our <a href='/products/voyager-v14-violet-mirror-titanium-circle'>VOYAGER 14</a> model.</p>
          </div>
        </div>
        <div id='circle-materials-right-arrow' class='col-md-2 hidden-sm hidden-xs gallery-arrow right'>
          {{ 'arrow_light_right.jpg' | asset_url | img_tag: 'Cycle Right', 'light-arrow' }}
          {{ 'arrow_dark_right.jpg' | asset_url | img_tag: 'Cycle Right', 'dark-arrow' }}
        </div>
      </div>
    </div>
  </div>
  <div class='row'>
    <div class='concept-link-mobile'><a href='/pages/our-story'>THE CONCEPT BEHIND OUR BRAND</a></div>
  </div>
  <div id='concept-description'>
    <div class='row'>
      <h2 class='col-xs-12'>VOYAGER SIZING <span class='concept-link'><a href='/collections/circle'>SHOP VOYAGER</a></span></h2>
      <div class='col-xs-12 col-md-4 col-md-offset-4'>
        {{ 'voyager_specs.jpg' | asset_url | img_tag: 'Voyager Dimensions' }}
      </div>
      <div class='concept-link-mobile col-xs-12'><a href='/collections/circle'>SHOP VOYAGER</a></div>
    </div>
    <div class='row'>
      <h2>SMALL, STANDARD, AND LARGE WAYFARERS <span class='concept-link'><a href='/products/small-large-wayfarer'>SHOP THE SMALL AND THE LARGE</a></span></h2>
      <div class='col-md-4 col-xs-12'>{{ 'small_specs.jpg' | asset_url | img_tag: 'Small Wayfarer Sunglasses Dimensions' }}</div>
      <div class='col-md-4 col-xs-12'>{{ 'wayfarer_specs.jpg' | asset_url | img_tag: 'Standard Wayfarer Sunglasses Dimensions' }}</div>
      <div class='col-md-4 col-xs-12'>{{ 'large_specs.jpg' | asset_url | img_tag: 'Large Wayfarer Sunglasses Dimensions' }}</div>
      <p>All Westward Leaning wayfarers are available in our standard size, carefully designed to be universally flattering for all male and female face shapes. However, a small portion of our customers prefer a smaller or a larger size than our standard fit. Therefore we added a scaled down version (the Small) and a scaled up version (the Large) to our collection, available in select styles.</p>
      <div class='concept-link-mobile'><a href='/products/small-large-wayfarer'>SHOP THE SMALL AND THE LARGE</a></div>
    </div>
    <div class='row'>
      <h2>BRIDGE FIT <span class='concept-link'><a href='/products/asian-bridge-fit-wayfarer'>SHOP BRIDGE FIT</a></span></h2>
      {{ 'bridgefit.jpg' | asset_url | img_tag: 'Bridge Fit Westward Leaning Sunglasses' }}
      <p>To further broaden the universality of our classic frame we designed Bridge Fit for everyone who wants a more secure fit over their nose bridge. Bridge Fit is identical to our classic Wayfarer frame with the exception of the added nose pads, which emulate the solid fit of an aviator.</p>
      <div class='concept-link-mobile'><a href='/products/asian-bridge-fit-wayfarer'>SHOP BRIDGE FIT</a></div>
    </div>
    <div class='row'>
      <h2>POCKET-SIZED AND CLAMSHELL CASES <span class='concept-link'><a href='/products/pocket-sized-case'>SHOP THE CASE</a></span></h2>
      {{ 'cases.jpg' | asset_url | img_tag: 'Soft Pocket-Sized Case and Hard Clamshell Case' }}
      <p>In addition to a traditional large and durable clamshell outer case, our sunglasses come with a custom-designed and compact protective sleeve. By popular demand we made this pocket-sized case available for purchase on its own.</p>
      <div class='concept-link-mobile'><a href='/products/pocket-sized-case'>SHOP THE CASE</a></div>
    </div>
  </div>
</div>