<div id='about' class='container'>
  <div class='row'>
        <h1 class='col-md-8 col-md-offset-2 col-xs-12'>{{ page.title | upcase }}</h1>
  </div>
  <div class='row'>
    <div class='col-md-8 col-md-offset-2 col-xs-12'>
      <h2 id='mission-and-values'>{{ pages.our-mission-and-values.title | upcase }}</h2>
  	  {{ pages.our-mission-and-values.content }}
    </div>
    <!--
    <div class='col-md-8 col-md-offset-2 col-xs-12'>
      <h2 id='press'>PRESS</h2>
      <div class='press-box col-md-4 col-xs-12'> 
        {{ 'press_people.jpg' | asset_url | img_tag: "People" }}
        <p>"Pretty much everyone in Hollywood owns a pair of this brand's shades"</p>
      </div>
      <div class='press-box col-md-4 col-xs-12'> 
        {{ 'press_bazaar.jpg' | asset_url | img_tag: "Harper's Bazaar" }}
        <p>"Make a stylish difference...and support educational programs dedicated to social causes that each pair (of sunglasses) represents."</p>
      </div>
      <div class='press-box col-md-4 col-xs-12'> 
        {{ 'press_elle.jpg' | asset_url | img_tag: "Elle" }}
        <p>"your new favorite sunglasses"</p>
      </div>
      <div class='press-box col-md-4 col-xs-12'> 
        {{ 'press_wwd.jpg' | asset_url | img_tag: "WWD" }}
        <p>"a modern take on the wayfarer"</p>
      </div>
      <div class='press-box col-md-4 col-xs-12'> 
        {{ 'press_nylon.jpg' | asset_url | img_tag: "Nylon" }}
        <p>"take time to reflect in the season's hottest shades"</p>
      </div>
      <div class='press-box col-md-4 col-xs-12'> 
        {{ 'press_marieclaire.jpg' | asset_url | img_tag: "Marie Claire" }}
        <p>"a favorite of international fashion editors"</p>
      </div>
      <div class='press-box col-md-4 col-xs-12'> 
        {{ 'press_newyork.jpg' | asset_url | img_tag: "New York" }}
        <p>"Best bet... perfect for shading your eyes on the street -- or better yet, by the pool."</p>
      </div>
      <div class='press-box col-md-4 col-xs-12'>
        {{ 'press_t.jpg' | asset_url | img_tag: "T" }}
        <p>"The Look of the Moment"</p>
      </div>
      <div class='press-box col-md-4 col-xs-12'> 
        {{ 'press_instyle.jpg' | asset_url | img_tag: "InStyle" }}
        <p>"San Francisco sunglasses mavens"</p>
      </div>
      <div class='press-box col-md-4 col-xs-12'> 
        {{ 'press_newsweek.jpg' | asset_url | img_tag: "Newsweek" }}
        <p>"Great for a trip because they will go with everything in your suitcase"</p>
      </div>
      <div class='press-box col-md-4 col-xs-12'> 
        {{ 'press_vogue.jpg' | asset_url | img_tag: "Vogue" }}
        <p>"We've had our eyes on (or behind, rather) these sunglasses since the San Francisco-based label launched"</p>
      </div>
      <div class='press-box col-md-4 col-xs-12'> 
        {{ 'press_wsj.jpg' | asset_url | img_tag: "Wall Street Journal" }}
        <p>"petrochemical-free sunglasses...proceeds will go toward the restoration of pollution-damaged areas of the American Southeast"</p>
      </div>
      <div class='press-box col-md-4 col-md-offset-4 col-xs-12'> 
        {{ 'press_nyt.jpg' | asset_url | img_tag: "New York Times" }}
        <p>"Sunglasses with iridescent mirrored lenses...work some amazing tricks, the shifting colors picking up those in your ensemble"</p>
      </div>
    </div>
    <div class='col-md-8 col-md-offset-2 col-xs-12'>
      <h2>{{ pages.where-to-buy.title | upcase }}</h2>
  	  {{ pages.where-to-buy.content }}
    </div>
    <div class='col-md-8 col-md-offset-2 col-xs-12'>
      <h2>{{ pages.future-visionaries.title | upcase }}</h2>
  	  {{ pages.future-visionaries.content }}
    </div>
    -->
    <div class='col-md-8 col-md-offset-2 col-xs-12'>
      <h2 id='corporate-citizenship'>{{ pages.our-philosophy.title | upcase }}</h2>
  	  {{ pages.our-philosophy.content }}
    </div>
  </div>
</div>