  <div id='commitment' class='fluid-container'>
  <div id="Back-To-Top"></div>
  <div class='row commitment-block'>
    <h1>CHARITABLE COMMITMENT</h1>
    <p>Westward Leaning was founded on the philosophy of giving back. From our inception, every pair of sunglasses has been inlaid with a unique material on the temple, which directly correlates to an associated charity. For every pair sold, we are proud to donate a minimum of 10% of net proceeds to the registered charitable organization signified by the inlay.</p> 
    <p>Before the periodic table ordered the elements according to atomic number, scientists and philosophers relied on the Aristotelian notion of four key elements - earth, water, air and fire - as foundational to life. At Westward Leaning, we’ve always been fascinated by the history of science, and have used these four elemental quadrants to categorize the diverse materials inlaid on the temples of our sunglasses. Every material belongs to one of the four classical elemental groups; and each of the four classical elements supports a specific charitable cause.</p>
  </div>
  
  <div class='row element'>

    <a href='#earth'>
    <div class='element-block col-lg-3 col-sm-6 col-xs-12'>
    {{ 'earth_icon.jpg' | asset_url | img_tag: "Earth" }}
      <h2>EARTH</h2>
      <ul>
        <li>Stone</li>
        <li>Wood</li>
      </ul>
    </div>
    </a>

    <a href='#water'>
    <div class='element-block col-lg-3 col-sm-6 col-xs-12'>
    {{ 'water_icon.jpg' | asset_url | img_tag: "Water" }}
      <h2>WATER</h2>
      <ul>
        <li>Sea Glass</li>
        <li>Mother of Pearl</li>
      </ul>
    </div>
    </a>

    <a href='#air'>
    <div class='element-block col-lg-3 col-sm-6 col-xs-12'>
    {{ 'air_icon.jpg' | asset_url | img_tag: "Air" }}
      <h2>AIR</h2>
      <ul>
        <li>Mirror</li>
      </ul>
    </div>
    </a>

    <a href='#fire'>
    <div class='element-block col-lg-3 col-sm-6 col-xs-12'>
      {{ 'fire_icon.jpg' | asset_url | img_tag: "Fire" }}
      <h2>FIRE</h2>
      <ul>
        <li>Metal</li>
      </ul>
    </div>
    </a>
  </div>

 
  <div class='charities'>  
    <div id='earth' class='charity-block row'>
      {{ 'earth_icon.jpg' | asset_url | img_tag: "Earth" }}
      <h2>EARTH: WILDAID</h2>
      <p>The Earth materials support <a href="http://www.wildaid.org/" target="_blank">WildAid</a>, whose mission is to “raise awareness to reduce the demand for threatened and endangered species products and to increase public support for wildlife conservation.” </p>
      
      <div class='inlay col-lg-3 col-sm-6 col-xs-12'>
        {{ '1_Alabaster_Marble.jpg' | asset_url | img_tag: "Alabaster_Marble" }}
        <h3>ALABASTER MARBLE</h3>
        <ul>
          <li><a href='/products/pioneer-8'>PIONEER 8</a></li>
        </ul>
      </div>
    
      <div class='inlay col-lg-3 col-sm-6 col-xs-12'>
        {{ '2_Black_Marble.jpg' | asset_url | img_tag: "Black_Marble" }}
        <h3>BLACK MARBLE</h3>
        <ul>
          <li><a href='/products/concorde-2'>CONCORDE 2</a></li>
          <li><a href='/products/concorde-8'>CONCORDE 8</a></li>
          <li><a href='/products/concorde-9'>CONCORDE 9</a></li>
          <li><a href='/products/pioneer-4'>PIONEER 4</a></li>
          <li><a href='/products/voyager-1'>VOYAGER 1</a></li>
        </ul>
      </div> 
    
      <div class='clearfix visible-md visible-sm'></div>
      
      <div class='inlay col-lg-3 col-sm-6 col-xs-12'>
        {{ '3_Matte_Black_Marble.jpg' | asset_url | img_tag: "Matte_Black_Marble" }}
        <h3>MATTE BLACK MARBLE</h3>
        <ul>
          <li><a href='/products/vanguard-11'>VANGUARD 11</a></li>
          <li><a href='/products/vanguard-12'>VANGUARD 12</a></li>
          <li><a href='/products/voyager-2'>VOYAGER 2</a></li>
        </ul>
      </div> 
    
      <div class='inlay col-lg-3 col-sm-6 col-xs-12'>
        {{ '4_Camo_Grannite.jpg' | asset_url | img_tag: "Camo_Granite" }}
        <h3>CAMO GRANITE</h3>
        <ul>
          <li><a href='/products/galileo-12'>GALILEO 12</a></li>
        </ul>
      </div> 
      
      <div class='clearfix visible-md visible-sm'></div>
      <div class='clearfix hidden-md hidden-sm hidden-xs'></div>
  
      <div class='inlay col-lg-3 col-sm-6 col-xs-12'>
        {{ '5_Polished_Turquoise.jpg' | asset_url | img_tag: "Polished_Turquoise" }}
        <h3>POLISHED TURQUOISE</h3>
        <ul>
          <li><a href='/products/atlas-10'>ATLAS 10</a></li>
        </ul>
      </div> 
    
      <div class='inlay col-lg-3 col-sm-6 col-xs-12'>
        {{ '6_Evergreen_Agate.jpg' | asset_url | img_tag: "Evergreen_Agate" }}
        <h3>EVERGREEN AGATE</h3>
        <ul>
          <li><a href='/products/atlas-2'>ATLAS 2</a></li>
          <li><a href='/products/atlas-3'>ATLAS 3</a></li>
          <li><a href='/products/galileo-5'>GALILEO 5</a></li>
        </ul>
      </div> 
    
      <div class='clearfix visible-md visible-sm'></div>
      
      <div class='inlay col-lg-3 col-sm-6 col-xs-12'>
        {{ '7_Polished_Malachite.jpg' | asset_url | img_tag: "Polished_Malachite" }}
        <h3>POLISHED MALACHITE</h3>
        <ul>
          <li><a href='/products/galileo-10'>GALILEO 10</a></li>
        </ul>
      </div> 
    
      <div class='inlay col-lg-3 col-sm-6 col-xs-12'>
        {{ '8_Galactic_Marble.jpg' | asset_url | img_tag: "Galactic_Marble" }}
        <h3>GALACTIC MARBLE</h3>
        <ul>
          <li><a href='/products/voyager-13'>VOYAGER 13</a></li>
        </ul>
      </div>
      
      <div class='clearfix visible-md visible-sm'></div>
      <div class='clearfix hidden-md hidden-sm hidden-xs'></div>
    
      <div class='inlay col-lg-3 col-sm-6 col-xs-12'>
        {{ '9_Polished_Lapis.jpg' | asset_url | img_tag: "Polished_Lapis" }}
        <h3>POLISHED LAPIS</h3>
        <ul>
          <li><a href='/products/voyager-12'>VOYAGER 12</a></li>
        </ul>
      </div>
    
      <div class='inlay col-lg-3 col-sm-6 col-xs-12'>
        {{ '10_Matte_Lapis.jpg' | asset_url | img_tag: "Matte_Lapis" }}
        <h3>MATTE LAPIS</h3>
        <ul>
          <li><a href='/products/atlas-12'>ATLAS 12</a></li>
        </ul>
      </div>
      
      <div class='clearfix visible-md visible-sm'></div>
    
      <div class='inlay col-lg-3 col-sm-6 col-xs-12'>
        {{ '11_Neon_Lemon_Howlite.jpg' | asset_url | img_tag: "Neon_Lemon_Howlite" }}
        <h3>NEON LEMON HOWLITE</h3>
        <ul>
          <li><a href='/products/atlas-1'>ATLAS 1</a></li>
          <li><a href='/products/galileo-2'>GALILEO 2</a></li>
        </ul>
      </div>
    
      <div class='inlay col-lg-3 col-sm-6 col-xs-12'>
        {{ '12_Lavendar_Marble.jpg' | asset_url | img_tag: "Lavender_Marble" }}
        <h3>LAVENDER MARBLE</h3>
        <ul>
          <li><a href='/products/atlas-9'>ATLAS 9</a></li>
        </ul>
      </div>
      
      <div class='clearfix visible-md visible-sm'></div>
      <div class='clearfix hidden-md hidden-sm hidden-xs'></div>
    
      <div class='inlay col-lg-3 col-sm-6 col-xs-12'>
      	{{ '13_Red_Agate.jpg' | asset_url | img_tag: "Red_Agate" }}
        <h3>RED AGATE</h3>
        <ul>
          <li><a href='/products/pioneer-18'>PIONEER 18</a></li>
          <li><a href='/products/voyager-11'>VOYAGER 11</a></li>
        </ul>
      </div>
    
      <div class='inlay col-lg-3 col-sm-6 col-xs-12'>
        {{ '14_Red_Jasper.jpg' | asset_url | img_tag: "Red_Jasper" }}
        <h3>RED JASPER</h3>
        <ul>
          <li><a href='/products/atlas-5'>ATLAS 5</a></li>
        </ul>
      </div>
    
      <div class='clearfix visible-md visible-sm'></div>
      
      <div class='inlay col-lg-3 col-sm-6 col-xs-12'>
        {{ '15_Polished_Onyx.jpg' | asset_url | img_tag: "Polished_Onyx" }}
        <h3>POLISHED ONYX</h3> 
        <ul>
          <li><a href='/products/atlas-4'>ATLAS 4</a></li>
          <li><a href='/products/flower-9'>FLOWER 9</a></li>
          <li><a href='/products/flower-10'>FLOWER 10</a></li>
          <li><a href='/products/flower-11'>FLOWER 11</a></li>
          <li><a href='/products/flower-12'>FLOWER 12</a></li>
          <li><a href='/products/galileo-3'>GALILEO 3</a></li>
          <li><a href='/products/vanguard-8'>VANGUARD 8</a></li>
          <li><a href='/products/vanguard-9'>VANGUARD 9</a></li>
        </ul>
      </div>
    
      <div class='inlay col-lg-3 col-sm-6 col-xs-12'>
        {{ '16_Matte_Onyx.jpg' | asset_url | img_tag: "Matte_Onyx" }}
        <h3>MATTE ONYX</h3>
        <ul>
          <li><a href='/products/atlas-13'>ATLAS 13</a></li>
          <li><a href='/products/galileo-9'>GALILEO 9</a></li>
        </ul>
      </div>
      
      <div class='clearfix visible-md visible-sm'></div>
      <div class='clearfix hidden-md hidden-sm hidden-xs'></div>
    
      <div class='inlay col-lg-3 col-sm-6 col-xs-12'>
        {{ '17_Bleached_Ivory.jpg' | asset_url | img_tag: "Faux_Ivory" }}
        <h3>FAUX IVORY</h3>
       <ul>
         <li><a href='/products/atlas-8'>ATLAS 8</a></li>
         <li><a href='/products/galileo-1'>GALILEO 1</a></li>
         <li><a href='/products/pioneer-17'>PIONEER 17</a></li>
         <li><a href='/products/voyager-10'>VOYAGER 10</a></li>
        </ul>
      </div>
    
      <div class='inlay col-lg-3 col-sm-6 col-xs-12'>
        {{ '18_Reclaimed_Redwood.jpg' | asset_url | img_tag: "Reclaimed_Redwood" }}
        <h3>RECLAIMED REDWOOD</h3>
        <ul>
          <li><a href='/products/concorde-10'>CONCORDE 10</a></li>
          <li><a href='/products/pioneer-1'>PIONEER 1</a></li>
          <li><a href='/products/vanguard-10'>VANGUARD 10</a></li>
          <li><a href='/products/voyager-6'>VOYAGER 6</a></li>
        </ul>
      </div>
      
      <div class='clearfix visible-md visible-sm'></div>
    
      <div class='inlay col-lg-3 col-sm-6 col-xs-12'>
        {{ '19_Reclaimed_Walnut.jpg' | asset_url | img_tag: "Reclaimed_Walnut" }}
        <h3>RECLAIMED WALNUT</h3>
        <ul>
          <li><a href='/products/concorde-1'>CONCORDE 1</a></li>
          <li><a href='/products/concorde-3'>CONCORDE 3</a></li>
          <li><a href='/products/concorde-4'>CONCORDE 4</a></li>
          <li><a href='/products/concorde-5'>CONCORDE 5</a></li>
          <li><a href='/products/concorde-7'>CONCORDE 7</a></li>
          <li><a href='/products/galileo-4'>GALILEO 4</a></li>
          <li><a href='/products/galileo-6'>GALILEO 6</a></li>
          <li><a href='/products/galileo-11'>GALILEO 11</a></li>
          <li><a href='/products/pioneer-10'>PIONEER 10</a></li>
          <li><a href='/products/pioneer-19'>PIONEER 19</a></li>
          <li><a href='/products/vanguard-1'>VANGUARD 1</a></li>
          <li><a href='/products/vanguard-6'>VANGUARD 6</a></li>
          <li><a href='/products/vanguard-7'>VANGUARD 7</a></li>
        </ul>
      </div>
    
      <div class='inlay col-lg-3 col-sm-6 col-xs-12'>
        {{ '20_Reclaimed_Douglas_Fir.jpg' | asset_url | img_tag: "Reclaimed_Douglas_Fir" }}
        <h3>Reclaimed Douglas Fir</h3>
        <ul>
          <li><a href='/products/voyager-4'>VOYAGER 4</a></li>
        </ul>
      </div>
      
    </div>
  
    
    
   <div id='water' class='charity-block row'>
      <hr class="fancy-line"></hr>
      {{ 'water_icon.jpg' | asset_url | img_tag: "Water" }}
      <h2>WATER: OPERATION SURF</h2>
      <p>The Water materials support <a href="http://amazingsurfadventures.org" target="_blank">Operation Surf</a>, whose mission is to provide our wounded active duty military heroes with recreational rehabilitation in the form of adaptive surfing, with the hope of giving them confidence and healing through the power of the ocean. </p>
    
      <div class='inlay col-lg-3 col-sm-6 col-xs-12'>
        {{ '1_Golden_Sea_Glass.jpg' | asset_url | img_tag: "Golden_Sea_Glass" }}
        <h3>GOLDEN SEA GLASS</h3>
        <ul>
          <li><a href='/products/atlas-11'>ATLAS 11</a></li>
        </ul>
      </div>
      
      <div class='inlay col-lg-3 col-sm-6 col-xs-12'>
        {{ '2_Celadon_Sea_Glass.jpg' | asset_url | img_tag: "Celadon_Sea_Glass" }}
        <h3>CELADON SEA GLASS</h3>
        <ul>
          <li><a href='/products/pioneer-3'>PIONEER 3</a></li>
        </ul>
      </div>
      
      <div class='clearfix visible-md visible-sm'></div>
     
      <div class='inlay col-lg-3 col-sm-6 col-xs-12'>
        {{ '3_Cerulean_Sea_Glass.jpg' | asset_url | img_tag: "Cerulean_Sea_Glass" }}
        <h3>CERULEAN SEA GLASS</h3>
        <ul>
          <li><a href='/products/voyager-7'>VOYAGER 7</a></li>
        </ul>
      </div>
      
      <div class='inlay col-lg-3 col-sm-6 col-xs-12'>
        {{ '4_Silver_Sea_Glass.jpg' | asset_url | img_tag: "Silver_Sea_Glass" }}
        <h3>SILVER SEA GLASS</h3>
        <ul>
          <li><a href='/products/atlas-6'>ATLAS 6</a></li>
        </ul>
      </div>
     
      <div class='clearfix visible-md visible-sm'></div>
      <div class='clearfix hidden-md hidden-sm hidden-xs'></div>
      
      <div class='inlay col-lg-3 col-sm-6 col-xs-12'>
        {{ '5_Crimson_Sea_Glass.jpg' | asset_url | img_tag: "Crimson_Sea_Glass" }}
        <h3>CRIMSON SEA GLASS</h3>
        <ul>
          <li><a href='/products/galileo-7'>GALILEO 7</a></li>
        </ul>
      </div>
      
      <div class='inlay col-lg-3 col-sm-6 col-xs-12'>
        {{ '6_Mother_of_Pearl.jpg' | asset_url | img_tag: "Mother_of_Pearl" }}
        <h3>MOTHER OF PEARL</h3>
        <ul>
          <li><a href='/products/atlas-7'>ATLAS 7</a></li>
          <li><a href='/products/pioneer-13'>PIONEER 13</a></li>
          <li><a href='/products/voyager-5'>VOYAGER 5</a></li>
        </ul>
      </div>
     
  </div>
      
    
   

    <div id='air' class='charity-block row'>
       <hr class="fancy-line"></hr>
      {{ 'air_icon.jpg' | asset_url | img_tag: "Air" }}
      <h2>AIR: THE FRESH AIR FUND</h2>
      <p>The Air materials support <a href="http://www.freshair.org/" target="_blank">The Fresh Air Fund</a>, whose mission is to provide thousands of children from low-income communities in New York City with unforgettable summer experiences in the country that unlock their limitless potential.</p>
  
      <div class='inlay col-lg-3 col-sm-6 col-xs-12'>
        {{ '1_Bronze_Mirror.jpg' | asset_url | img_tag: "Galactic_Marble" }}
        <h3>bronze mirror</h3>
        <ul>
          <li><a href='/products/pioneer-20'>PIONEER 20</a></li>
        </ul>
      </div>
      
      <div class='inlay col-lg-3 col-sm-6 col-xs-12'>
        {{ '2_Gunmetal_Mirror.jpg' | asset_url | img_tag: "Gunmetal_Mirror" }}
        <h3>gunmetal mirror</h3>
        <ul>
          <li><a href='/products/pioneer-16'>PIONEER 16</a></li>
        </ul>
      </div>
      
      <div class='clearfix visible-md visible-sm'></div>
      
      <div class='inlay col-lg-3 col-sm-6 col-xs-12'>
        {{ '3_Hunter_Mirror.jpg' | asset_url | img_tag: "Hunter_Mirror" }}
        <h3>hunter mirror</h3>
        <ul>
          <li><a href='/products/pioneer-6'>PIONEER 6</a></li>
        </ul>
      </div>
      
      <div class='inlay col-lg-3 col-sm-6 col-xs-12'>
        {{ '4_Royal_Mirror.jpg' | asset_url | img_tag: "Royal_Mirror" }}
        <h3>royal mirror</h3>
        <ul>
          <li><a href='/products/pioneer-11'>PIONEER 11</a></li>
          <li><a href='/products/pioneer-14'>PIONEER 14</a></li>
        </ul>
      </div>
      
      <div class='clearfix visible-md visible-sm'></div>
      <div class='clearfix hidden-md hidden-sm hidden-xs'></div>
       
      <div class='inlay col-lg-3 col-sm-6 col-xs-12'>
        {{ '5_Silver_Mirror.jpg' | asset_url | img_tag: "Silver_Mirror" }}
        <h3>silver mirror</h3>
        <ul>
          <li><a href='/products/pioneer-21'>PIONEER 21</a></li>
          <li><a href='/products/vanguard-2'>VANGUARD 2</a></li>
          <li><a href='/products/vanguard-3'>VANGUARD 3</a></li>
        </ul>
      </div>
      
   </div>
    
  
  
    <div id='fire' class='charity-block row'>
            <hr class="fancy-line"></hr>
      {{ 'fire_icon.jpg' | asset_url | img_tag: "Fire" }}
      <h2>FIRE: GLOBAL ALLIANCE FOR CLEAN COOKSTOVES</h2>
      <p>The fire materials support the <a href="http://www.unfoundation.org/what-we-do/campaigns-and-initiatives/cookstoves/" target="_blank">U.N. Foundation Global Alliance for Clean Cookstoves</a>, whose mission is to "save lives, improve livelihoods, empower women, and combat climate change by creating a thriving global market for clean and efficient household cooking solutions."</p> 
      <div class='inlay col-lg-3 col-sm-6 col-xs-12'>
        {{ '1_Forest_Aluminum.jpg' | asset_url | img_tag: "Forest_Aluminum" }}
        <h3>Forest aluminum</h3>
        <ul>
          <li><a href='/products/galileo-8'>GALILEO 8</a></li>
          <li><a href='/products/pioneer-9'>PIONEER 9</a></li>
        </ul>
      </div>
      
      <div class='inlay col-lg-3 col-sm-6 col-xs-12'>
        {{ '2_Cobalt_Aluminum.jpg' | asset_url | img_tag: "Cobalt_Aluminum" }}
        <h3>cobalt aluminum</h3>
        <ul>
          <li><a href='/products/pioneer-15'>PIONEER 15</a></li>
          <li><a href='/products/voyager-9'>VOYAGER 9</a></li>
        </ul>
      </div>
      
      <div class='clearfix visible-md visible-sm'></div>
      
      <div class='inlay col-lg-3 col-sm-6 col-xs-12'>
        {{ '3_Brick_Aluminum.jpg' | asset_url | img_tag: "Brick_Aluminum" }}
        <h3>brick aluminum</h3>
        <ul>
          <li><a href='/products/pioneer-22'>PIONEER 22</a></li>
          <li><a href='/products/voyager-8'>VOYAGER 8</a></li>
        </ul>
      </div>
      
      <div class='inlay col-lg-3 col-sm-6 col-xs-12'>
        {{ '4_Gold_Aluminum.jpg' | asset_url | img_tag: "Gold_Aluminum" }}
        <h3>gold aluminum</h3>
        <ul>
          <li><a href='/products/pioneer-2'>PIONEER 2</a></li>
        </ul>
      </div>
      
      <div class='clearfix visible-md visible-sm'></div>
      <div class='clearfix hidden-md hidden-sm hidden-xs'></div>
      
      <div class='inlay col-lg-3 col-sm-6 col-xs-12'>
        {{ '5_Super_Gold.jpg' | asset_url | img_tag: "Super_Gold" }}
        <h3>SUPER GOLD</h3>
        <ul>
          <li><a href='/products/flower-5'>FLOWER 5</a></li>
          <li><a href='/products/flower-6'>FLOWER 6</a></li>
          <li><a href='/products/flower-7'>FLOWER 7</a></li>
          <li><a href='/products/flower-8'>FLOWER 8</a></li>
        </ul>
      </div>
      
      <div class='inlay col-lg-3 col-sm-6 col-xs-12'>
        {{ '6_Super_Silver.jpg' | asset_url | img_tag: "Super_Silver" }}
        <h3>SUPER silver</h3>
        <ul>
          <li><a href='/products/concorde-6'>CONCORDE 6</a></li>
          <li><a href='/products/flower-1'>FLOWER 1</a></li>
          <li><a href='/products/flower-2'>FLOWER 2</a></li>
          <li><a href='/products/flower-3'>FLOWER 3</a></li>
          <li><a href='/products/flower-4'>FLOWER 4</a></li>
          <li><a href='/products/pioneer-5'>PIONEER 5</a></li>
          <li><a href='/products/vanguard-4'>VANGUARD 4</a></li>
          <li><a href='/products/vanguard-5'>VANGUARD 5</a></li>
        </ul>
      </div>
      
      <div class='clearfix visible-md visible-sm'></div>
      
      <div class='inlay col-lg-3 col-sm-6 col-xs-12'>
        {{ '7_Tumbled_Bronze.jpg' | asset_url | img_tag: "Tumbled_Bronze" }}
        <h3>tumbled bronze</h3>
        <ul>
          <li><a href='/products/pioneer-7'>PIONEER 7</a></li>
          <li><a href='/products/pioneer-12'>PIONEER 12</a></li>
        </ul>
      </div>
      
      <div class='inlay col-lg-3 col-sm-6 col-xs-12'>
        {{ '8_Tumbled_Titanium.jpg' | asset_url | img_tag: "Tumbled_Titanium" }}
        <h3>tumbled titanium</h3>
        <ul>
          <li><a href='/products/voyager-3'>VOYAGER 3</a></li>
        </ul>
      </div>
    </div>
      <div class='back-to-top'><a href="#Back-To-Top">&uarr;</a></div>
  </div>
</div>