<div id='about' class='container'>
  <div class='row'>
        <h1 class='col-md-8 col-md-offset-2 col-xs-12'>{{ page.title | upcase }}</h1>
  </div>
  <div class='row'>
    <div class='col-md-8 col-md-offset-2 col-xs-12'>
      <h2>{{ pages.our-mission-and-values.title | upcase }}</h2>
  	  {{ pages.our-mission-and-values.content }}
    </div>
    <div class='col-md-8 col-md-offset-2 col-xs-12'>
      <h2 id="corporate-citizenship">{{ pages.our-philosophy.title | upcase }}</h2>
  	  {{ pages.our-philosophy.content }}
    </div>
  </div>
</div>