<div id='{{ page.handle }}' class='container'>
  <div class='col-xs-12'>
        <div class="row">
          
          <div class='col-xs-12'>
            <img src="{{ 'holidayheader.png' | asset_url}}" alt="Holiday 2014 Gift Guide" >
          </div>
          <div class='col-xs-12'>
            <img src="{{ 'giftwrap-banner-notext.jpg' | asset_url}}" alt="Holiday Gift Wrap Now Available" style='width: 120%;margin-left:-10%;'>
            <h2 style='color:#cc0000;font-size:24px;border-bottom:1px solid #ccc;padding-bottom:18px;margin-bottom:18px;'>COMPLIMENTARY HOLIDAY GIFT WRAP AVAILABLE WITH EACH ORDER</h2>
          </div>
          <a href="/products/boxed-set">
          <div class="col-xs-12 col-md-6 gift">
            <h2>FOR THE (METAPHORICAL) CHILD OF CALIFORNIA</h2>
            <p>Wherever in the world they may live.</p>
            <img src="{{ 'boxed_set.jpg' | asset_url }}" alt="">
            <p class="price">BOXED SET (INCLUDES GIFT CARD FOR ANY PAIR, PLAYING CARDS, LIMITED EDITION GIFT BOX)</p>
            <p class="price">$250</p>
          </div>
          </a>
          <a href="/products/playing-cards">
          <div class="col-xs-12 col-md-6 gift">
            <h2>FOR THE AESTHETE</h2>
            <p>And for everyone looking to up the ante.</p>
            <img src="{{ 'playing_cards.jpg' | asset_url }}" alt="">
            <p class="price">PLAYING CARDS</p>
            <p class="price">$35</p>
          </div>
          </a>
          <a href="/products/voyager-v1-gold-mirror-bronze-circle">
          <div class="col-xs-12 col-md-6 gift">
            <h2>FOR THE SPACEWALKER</h2>
            <p>Designed for the bold, the daring, and the future astronauts.</p>
            <img src="{{ 'v1.jpg' | asset_url }}" alt="">
            <p class="price">VOYAGER 1</p>
            <p class="price">$195</p>
          </div>
          </a>
          <a href="/products/voyager-v2-super-silver-mirror-polished-aluminum-circle">
          <div class="col-xs-12 col-md-6 gift">
            <h2>FOR THE FUTURIST</h2>
            <p>Designed for the cyberpunks, and anyone who's mad for speed, technology and modernity.</p>
            <img src="{{ 'v2.jpg' | asset_url }}" alt="">
            <p class="price">VOYAGER 2</p>
            <p class="price">$195</p>
          </div>
          </a>
          <a href="/products/voyager-v16-blackened-redwood-circle">
          <div class="col-xs-12 col-md-6 gift">
            <h2>FOR THE MINIMALIST</h2>
            <p>Designed for the quietly brilliant, and effortlessly chic.</p>
            <img src="{{ 'v16.jpg' | asset_url }}" alt="">
            <p class="price">VOYAGER 16</p>
            <p class="price">$185</p>
          </div>
          </a>
          <a href="/products/voyager-v10-emerald-mirror-blue-sea-glass-circle">
          <div class="col-xs-12 col-md-6 gift">
            <h2>FOR THE NOMAD</h2>
            <p>Designed for the bohemians, "throwing their dreams into space like a kite."</p>
            <img src="{{ 'v10.jpg' | asset_url }}" alt="">
            <p class="price">VOYAGER 10</p>
            <p class="price">$195</p>
          </div>
          </a>
          <a href="/products/n-2-louisiana-purchase-tortoise-shell">
          <div class="col-xs-12 col-md-6 gift">
            <h2>FOR THE MUSICIAN</h2>
            <p>Designed for everyone inspired by the jazz tradition of New Orleans.</p>
            <img src="{{ '2_2.jpg' | asset_url }}" alt="">
            <p class="price">2.2 LOUISIANA PURCHASE</p>
            <p class="price">$180</p>
          </div>
          </a>
          <a href="/products/wintermute-10-1-silver-mirror-wayfarer">
          <div class="col-xs-12 col-md-6 gift">
            <h2>FOR THE ARCHITECT</h2>
            <p>Designed for the functionalists who appreciate luxury.</p>
            <img src="{{ '10_1.jpg' | asset_url }}" alt="">
            <p class="price">10.1 WINTERMUTE</p>
            <p class="price">$180</p>
          </div>
          </a>
          <a href="/products/color-revolution-9-5-pink-mirror-wayfarer">
          <div class="col-xs-12 col-md-6 gift">
            <h2>FOR THE GLASTONBURY GIRL (OR BOY)</h2>
            <p>Designed for those who can't stop posting pics from Coachella, Burning Man and Roskilde.</p>
            <img src="{{ '9_5.jpg' | asset_url }}" alt="">
            <p class="price">9.5 COLOR REVOLUTION</p>
            <p class="price">$180</p>
          </div>
          </a>
          <a href="/products/mother-of-pearl-15-2-silver-wayfarer">
          <div class="col-xs-12 col-md-6 gift">
            <h2>FOR THE TRENDSETTER</h2>
            <p>Designed for the sartorialists, and the fashionistas.</p>
            <img src="{{ '15_2.jpg' | asset_url }}" alt="">
            <p class="price">15.2 MOTHER OF PEARL</p>
            <p class="price">$210</p>
          </div>
          </a>
          <a href="/products/gift-card">
          <div class="col-xs-12 col-md-6 gift">
            <h2>SIMPLY, FOR EVERYONE</h2>
            <img src="{{ 'holiday-gift-card.jpg' | asset_url }}" alt="">
            <p class="price">GIFT CARD</p>
            <p class="price">$50, $100, $150, or $200</p>
          </div>
          </a>
        </div>
  </div>
</div>