{% assign hide_variants = true %}
{% for tag in product.tags %}
  {% if tag contains 'model = ' %}{% assign model = tag | remove: 'model = ' %}
  {% elsif tag contains 'primary mat = ' %}{% assign primary_mat = tag | remove: 'primary mat = ' %}
  {% elsif tag contains 'frame color = ' %}{% assign frame_color = tag | remove: 'frame color = ' %}
  {% elsif tag contains 'lens = ' %}{% assign lens = tag | remove: 'lens = ' %}
  {% elsif tag contains 'nosepads = ' %}{% assign nosepads = tag | remove: 'nosepads = ' %}
  {% elsif tag contains 'collab = ' %}{% assign collab = tag | remove: 'collab = ' %}
  {% elsif tag contains 'quantity note = ' %}{% assign quantity_note = tag | remove: 'quantity note = ' %}
  {% elsif tag contains 'set = ' %}{% assign set = tag | remove: 'set = ' %}
  {% elsif tag contains 'show variants' %}{% assign hide_variants = false %}
  {% elsif tag contains 'wayfarer spring 2015' %}{% assign wayfarer_spring_2015 = true %}
  {% elsif tag contains 'launch collection' %}{% assign launch_collection = true %}
  {% elsif tag contains 'no side material' %}{% assign no_side_material = true %}
  {% elsif tag contains 'preorder' %}{% assign preorder = true %}
  {% elsif tag contains 'Gift Card' %}{% assign gift_card = true %}
  {% elsif tag contains 'Sale' %}{% assign on_sale = true %}
  {% endif %}
{% endfor %}
{% if model == 'model = \\' %}{% assign model = '' %}{% endif %}
<div id='product' class='container'>
  <div class='row'>
    <section class='col-md-9 col-xs-12 left-col'>
      <div id='gallery'>
        <div id='active-wrapper'>
  		  <img src="{{ '' | product_img_url: 'master' }}" alt="{{ product.featured_image.alt | escape }}" />
        </div>
	    {% if product.images.size > 1 %}
        <ul id='thumbs'>
          {% for image in product.images %}<li><a href='{{ image.src | product_img_url: 'original' }}' class='thumb-anchor'><img src='{{ image.src | product_img_url: 'small' }}'  alt="{{ image.alt | escape }}" /></a></li>{% endfor %}
        </ul>
  		{% endif %}
      </div>
    </section>
    <section class='col-md-3 col-xs-12 right-col'>
      <h1>
        {{ product.title | upcase }}
      </h1>
      <p class='model-details'>
        {% if product.type contains 'Pioneer X' %}
          <em>{{ collab }}</em>
        {% elsif product.type contains 'Voyager X' %}
          <em>{{ collab }}</em>
        {% elsif product.title contains 'op.' %}
          <em>{{ model }}</em>
        {% elsif set %}
          <em>{{ set }}</em>
        {% else %}
          <!-- No model number. -->
        {% endif %}
      </p>
      {% if lens %}
        <p class='model-details'>with {{ lens }} Lenses</p>
      {% endif %}
      {% if primary_mat %}
        {% if no_side_material %}
          <p class='model-details'>{{ primary_mat }}</p>
        {% elsif gift_card %}
          <!-- No side material. -->
        {% else %}
          <p class='model-details'>and {{ primary_mat }}</p>
        {% endif %}
      {% endif %}
      <p id="product-price" class='model-details'>
      	  {% if product.compare_at_price > product.price %}
          <span class="product-price on-sale">{{ product.price | money_without_trailing_zeros | remove: ' ' }}</span> <span class="product-compare-price"><del>{{ product.compare_at_price_max | money_without_trailing_zeros | remove: ' ' }}</del></span>
      	  {% elsif gift_card %}
          <span class="product-price">$50 - $300</span>
          {% else %}
          <span class="product-price">{{ product.price | money_without_trailing_zeros | remove: ' ' }}</span>
          {% endif %}
      </p>
      <p id='converted-currency'></p>
      {% if quantity_note %}
        <p id='finish-and-quantity'>{{ quantity_note }}</p>
      {% elsif gift_card %}
        <p id="finish-and-quantity" class="{% if hide_variants %}hidden{% endif %}">Select amount and quantity:</p>      
      {% else %}
        <p id="finish-and-quantity" class="{% if hide_variants %}hidden{% endif %}">Select finish and quantity:</p>
      {% endif %}
      {% if preorder %}
        <p class='product-note'><em>{{ product.title }} is available for pre-order, and will ship on Sept. 1st.</em></p>
      {% endif %}
      <form action="/cart/add" method="post" enctype="multipart/form-data">
	  	  {% assign hide_default_title = false %}
	      {% if product.variants.size == 1 and product.variants.first.title contains 'Default' %}
	        {% assign hide_default_title = true %}
	      {% endif %}       
        <fieldset>
	      <div id="product-variants" class="{% if hide_variants %}hidden{% endif %}">
	       <select id="product-select" name="id">
	       {% for variant in product.variants %}
	        	<option value="{{ variant.id }}">{{ variant.option1 }}</option>
	       {% endfor %}
	       </select>
		   <select id="quantity" name="quantity">
		   {% for i in (1..20) %}
		    	<option value="{{ i }}">{{ i }}</option>
		   {% endfor %}
		   </select>
	      </div>
        </fieldset>
        {% if on_sale %}<div id='sale-message'>Final Sale</div>{% endif %}
        <br>
        {% if product.available %}
          {% if preorder %}
            <button id='buy' type='submit'>PRE-ORDER</button>
          {% else %}
            <button id='buy' type='submit'>BUY</button>
          {% endif %}
        {% elsif product.title == "Voyager 15" %}
          <p><em>{{ product.title }} is currently unavailable on our website, but still available at <a href='http://www.barneys.com/on/demandware.store/Sites-BNY-Site/default/Product-Show?pid=00505038012686'>Barneys New York</a>.</em></p>
        {% elsif model == "N°3.10" %}
          <p><em>This model is currently unavailable on our website, but still available at <a href='http://www.barneys.com/westward-leaning-mercury-seven-sunglasses-503627986.html#q=westward+leaning&start=15'>Barneys New York</a>.</em></p>
        {% else %}
          <p><a id="BIS_trigger" href="#">WAITLIST</a></p>
        {% endif %}
		<div id="quantity-message"></div>
        <div id="shipping-message"><a href='/pages/contact'>Free worldwide FedEx<br>shipping on all orders.</a></div>
      </form>
    </section>
  </div>
  <ul class='nav nav-tabs product-nav-tabs' role='tablist'>
    <li class="active"><a href="#model-story" role="tab" data-toggle="tab">ABOUT THIS MODEL</a></li>
    <li><a href="#you-might-also-like" role="tab" data-toggle="tab">YOU MIGHT ALSO LIKE</a></li>
  </ul>
  <div class='row tab-content'>
    <article id='model-story' class='model-story tab-pane fade in active'>
 	  {{ product.content }}
    </article>
    <article id='you-might-also-like' class='ymal tab-pane fade'>
      <div id="cross-sell"></div>
    </article>
  </div>
</div>